<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideFolderClosed"></svg>
    <span l10nTranslate>Add an external location</span>
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white" type="button"></button>
</div>
<div class="modal-body form-validation">
  @if (withRootName) {
    <input class="form-control my-2"
           appAutofocus
           [ngModel]="newSpaceRoot.name"
           (ngModelChange)="checkInput($event, true)"
           [class.is-invalid]="!rootNameIsValid"
           [placeholder]="'Name' | translate:locale.language"
           type="text"
           required>
  }
  <input class="form-control my-4"
         appAutofocus
         [autoFocus]="!withRootName"
         [ngModel]="newSpaceRoot.externalPath"
         (ngModelChange)="checkInput($event)"
         [class.is-invalid]="!rootPathIsValid"
         placeholder="{{'Location' | translate:locale.language}}: /home/sync-in/data"
         type="text"
         required>
</div>
<div class="modal-footer">
  @if (error) {
    <span class="me-auto fs-sm text-danger text-truncate" l10nTranslate>{{ error }}</span>
  }
  @if (rootIsValid) {
    <button (click)="onSubmit()" class="btn btn-primary" type="button" l10nTranslate>Confirm</button>
  } @else {
    <button (click)="onValidRoot()" class="btn btn-success" type="button" l10nTranslate>Check the location</button>
  }
</div>