<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideAnchor"></svg>
    <span l10nTranslate>Anchor files to a space</span>
  </h4>
  @if (loading) {
    <svg [lucideIcon]="icons.LucideLoader" [class.icon-spin]="true" class="ms-2"></svg>
  }
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white ms-auto" type="button"></button>
</div>
<div class="modal-body">
  <div class="mb-3 col-12 col-md-7">
    <label class="form-label" for="space" l10nTranslate>Space</label>
    <app-select id="space"
                [searchFunction]="onSearchSpaces.bind(this)"
                (data)="onSetSpace($event)"
                [active]="selectedSpace"
                [itemIcon]="icons.SPACES"
                [placeholder]="'Type to search for space to select' | translate:locale.language">
    </app-select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="files" l10nTranslate>Files</label>
    <app-space-manage-roots id="files"
                            [space]="space"
                            [user]="user"
                            [showInfo]="false"
                            [showUsers]="false"
                            [showRemove]="files.length > 1"></app-space-manage-roots>
  </div>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()" [disabled]="submitted || !selectedSpace || !space.roots.length" class="btn btn-primary" type="button" l10nTranslate>
    Confirm
  </button>
</div>
