<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideUserRoundPlus"></svg>
    <span>{{ parentGroup.name }}</span>
  </h4>
  <h4 class="modal-title ms-auto">
    <span l10nTranslate>Add members</span>
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white ms-2" type="button"></button>
</div>
<div class="modal-body">
  <app-user-search
    [(members)]="newMembers"
    [withPermissions]="false"
    [customPlaceholder]="'Type to search for users to add'"
    [searchFunction]="searchMembers.bind(this)">
  </app-user-search>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()"
          [disabled]="submitted || !newMembers.length" class="btn btn-primary"
          type="button"
          l10nTranslate>
    Confirm
  </button>
</div>
