<div class="modal-header">
  <h4 class="modal-title">
    @if (group) {
      <svg [lucideIcon]="icons.LucidePencil"></svg>
      <span>{{ group.name }}</span>
    } @else {
      <svg [lucideIcon]="icons.LucidePlus"></svg>
      <span l10nTranslate>New group</span>
    }
  </h4>
  @if (group) {
    <h4 class="modal-title ms-auto">
      <span l10nTranslate>Edit group</span>
    </h4>
  }
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white {{group ? 'ms-2' : 'ms-auto'}} ms-2" type="button"></button>
</div>
<div class="modal-body form-validation" [formGroup]="groupForm">
  <tabset [justified]="true" type="pills">
    <tab (selectTab)="tabView=null" customClass="tab-dialog form-validation">
      <ng-template tabHeading>
        <span class="app-tab-heading">
          <svg [lucideIcon]="icons.LucideSettings"></svg>
          <span class="app-tab-label" l10nTranslate>Settings</span>
        </span>
      </ng-template>
      <div class="app-tab-content row g-3">
        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="card dialog-tab-card w-100 mb-3">
            <div class="card-body d-flex flex-column gap-3">
              <div>
                <label class="form-label" for="name" l10nTranslate>Name</label>
                <input id="name"
                       appAutofocus
                       [autoSelect]="false"
                       formControlName="name"
                       [class.is-invalid]="groupForm.controls.name.invalid"
                       class="form-control"
                       autocomplete="off"
                       type="text">
              </div>
              <div>
                <label class="form-label" for="description" l10nTranslate>Description</label>
                <input id="description"
                       formControlName="description"
                       class="form-control"
                       autocomplete="off"
                       type="text">
              </div>
            </div>
          </div>

          <div class="card dialog-tab-card w-100">
            <div class="card-body d-flex flex-column gap-2">
              <div>
                <label class="form-label" for="visibility" l10nTranslate>Visibility</label>
                <select id="visibility"
                        formControlName="visibility"
                        class="form-control form-select">
                  @for (v of allVisibilities | keyvalue: originalOrderKeyValue; track v.value) {
                    <option [ngValue]="v.value" l10nTranslate>{{ v.key }}</option>
                  }
                </select>
              </div>
              <div class="fst-italic fs-sm">
                @switch (groupForm.value.visibility) {
                  @case (allVisibilities.Visible) {
                    <span l10nTranslate>All users can see this group.</span>
                  }
                  @case (allVisibilities.Private) {
                    <span l10nTranslate>Users who are not members of this group cannot see it.</span>
                  }
                  @case (allVisibilities.Isolated) {
                    <span l10nTranslate>The group is not visible, its members cannot see it and cannot see each other.</span>
                  }
                }
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="card dialog-tab-card w-100 mb-3">
            <div class="card-body">
              <label class="form-label" for="parent" translate>Parent group</label>
              <app-select id="parent"
                          [searchFunction]="searchGroups.bind(this)"
                          (data)="onSetParent($event)"
                          [active]="groupForm.value.parent"
                          [itemIcon]="icons.GROUPS"
                          [placeholder]="'Select the parent group' | translate:locale.language">
              </app-select>
            </div>
          </div>

          @if (group) {
            <div class="card dialog-tab-card w-100">
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <div class="d-flex flex-column">
                      <label class="form-label" for="created" l10nTranslate>Creation date</label>
                      <div class="fs-sm" id="created">{{ group.createdAt | amDateFormat }}</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex flex-column text-md-end">
                      <label class="form-label" for="modified" l10nTranslate>Modification date</label>
                      <div class="fs-sm" id="modified">{{ group.modifiedAt | amDateFormat }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </tab>
    <tab (selectTab)="tabView='permissions'" customClass="tab-dialog form-validation">
      <ng-template tabHeading>
        <span class="app-tab-heading">
          <svg [lucideIcon]="icons.LucideShieldCheck"></svg>
          <span class="app-tab-label" l10nTranslate>Permissions</span>
        </span>
      </ng-template>
      <div class="app-tab-content">
        <div class="card dialog-tab-card">
          <div class="card-body">
            <app-admin-permissions [permissions]="groupForm.value.applications" (permissionsChange)="updateApplications($event)"></app-admin-permissions>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()"
          [disabled]="submitted || groupForm.invalid" class="btn btn-primary"
          type="button"
          l10nTranslate>
    Confirm
  </button>
</div>
