<div class="modal-header">
  <h4 class="modal-title">
    @if (user) {
      <svg [lucideIcon]="icons.LucideUserRoundPen"></svg>
      <span>{{ user.fullName }}</span>
    } @else {
      <svg [lucideIcon]="icons.LucideUserRoundPlus"></svg>
      <span l10nTranslate>New user</span>
    }
    @if (loading) {
      <svg [lucideIcon]="icons.LucideLoader" [class.icon-spin]="true" class="ms-2"></svg>
    }
  </h4>
  @if (user) {
    <h4 class="modal-title ms-auto">
      <span l10nTranslate>Edit user</span>
    </h4>
  }
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white {{user ? 'ms-2' : 'ms-auto'}} ms-2" type="button"></button>
</div>
<div class="modal-body" [formGroup]="userForm">
  <tabset [justified]="true" type="pills">
    <tab (selectTab)="tabView=null" customClass="tab-dialog form-validation">
      <ng-template tabHeading>
        <span class="app-tab-heading">
          <svg [lucideIcon]="icons.LucideUserRoundCog"></svg>
          <span class="app-tab-label" l10nTranslate>Account</span>
        </span>
      </ng-template>
      <div class="app-tab-content row g-3">
        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="card dialog-tab-card w-100 mb-3">
            <div class="card-body d-flex flex-column gap-3">
              <div class="row g-3">
                <div class="col-12">
                  <label class="form-label" for="login" l10nTranslate>Login</label>
                  <input id="login"
                         appAutofocus
                         [autoSelect]="false"
                         formControlName="login"
                         [class.is-invalid]="userForm.controls['login'].invalid"
                         class="form-control"
                         autocomplete="off"
                         type="text">
                </div>
                <div class="col-12">
                  <label class="form-label" for="email" l10nTranslate>Email</label>
                  <input id="email"
                         formControlName="email"
                         [class.is-invalid]="userForm.controls['email'].invalid"
                         class="form-control"
                         autocomplete="off"
                         type="email">
                </div>
                <div class="col-12">
                  <label class="form-label" for="firstName" l10nTranslate>First name</label>
                  <input id="firstName"
                         formControlName="firstName"
                         [class.is-invalid]="userForm.controls['firstName'].invalid"
                         class="form-control"
                         autocomplete="off"
                         type="text">
                </div>
                <div class="col-12">
                  <label class="form-label" for="lastName" l10nTranslate>Last name</label>
                  <input id="lastName"
                         formControlName="lastName"
                         class="form-control"
                         autocomplete="off"
                         type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="card dialog-tab-card w-100">
            <div class="card-body d-flex flex-column gap-3">
              <div>
                <div class="d-flex align-items-center gap-2 mb-1">
                  <label class="form-label mb-0" for="password" l10nTranslate>Password</label>
                  @if (userForm.value.password !== defaultPassword) {
                    <div class="d-flex align-items-center ms-auto">
                      <app-password-strength-bar [passwordToCheck]="userForm.value.password"></app-password-strength-bar>
                    </div>
                  }
                </div>
                <app-input-password id="password"
                                    class="w-100"
                                    [password]="userForm.value.password"
                                    (passwordChange)="updatePassword($event)"
                                    [showGenerator]="true"
                                    [showLabel]="false"
                                    [isRequired]="true"
                                    placeholder="Set a password">
                </app-input-password>
              </div>

              @if (user && user.storageUsage) {
                <div>
                  <label class="form-label" for="twoFa" l10nTranslate>Two-Factor Authentication</label>
                  <div id="twoFa" class="pt-1 d-flex align-items-center flex-wrap gap-2">
                    <span class="d-inline-flex align-items-center gap-2">
                      <svg class="two-fa-status-icon" [lucideIcon]="user.twoFaEnabled ? icons.LucideLock : icons.LucideLockOpen"></svg>
                      {{ (user.twoFaEnabled ? 'enabled' : 'disabled') | translate:locale.language | titlecase }}
                    </span>
                    @if (user.twoFaEnabled) {
                      <span (click)="reset2Fa()" class="link-danger" role="button">
                        <svg [lucideIcon]="icons.LucideTrash2"></svg>
                        <span class="ms-1" l10nTranslate>Reset</span>
                      </span>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="card dialog-tab-card w-100 mb-3">
            <div class="card-body d-flex flex-column gap-3">
              <div>
                <label class="form-label" for="language" l10nTranslate>Language</label>
                <select id="language"
                        formControlName="language"
                        class="form-control form-select">
                  @for (l of languages; track $index) {
                    <option [ngValue]="l">{{ i18nLanguageText[l] }}</option>
                  }
                </select>
              </div>

              <div>
                <label class="form-label" for="notification" l10nTranslate>Notification</label>
                <select id="notification"
                        formControlName="notification"
                        class="form-control form-select">
                  @for (n of allNotifications; track $index) {
                    <option [ngValue]="allNotifications.indexOf(n)" l10nTranslate>{{ n }}</option>
                  }
                </select>
              </div>
            </div>
          </div>

          <div class="card dialog-tab-card w-100 mb-3">
            <div class="card-body d-flex flex-column gap-3">
              <div>
                <app-storage-quota [quota]="userForm.value.storageQuota" (quotaChange)="updateQuota($event)" [fullWidth]="true"></app-storage-quota>
              </div>
              @if (user && (user.storageUsage || user.storageQuota)) {
                <div>
                  <label class="form-label" for="storage" l10nTranslate>Storage Usage</label>
                  <app-storage-usage id="storage" [item]="user"></app-storage-usage>
                </div>
              }
            </div>
          </div>

          @if (user) {
            <div class="card dialog-tab-card w-100">
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-12 col-md-5">
                    <div class="d-flex flex-column">
                      <label class="form-label" for="created" l10nTranslate>Creation date</label>
                      <div class="fs-sm" id="created">{{ user.createdAt | amDateFormat }}</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-7">
                    <div class="d-flex flex-column text-md-end">
                      <label class="form-label" for="access" l10nTranslate>Last accesses</label>
                      <div class="fs-sm" id="access">
                        @if (user.lastAccess) {
                          <div class="d-flex flex-column mb-2">
                            <span>{{ user.currentAccess | amDateFormat }}</span>
                            <span>{{ user.currentIp }}</span>
                          </div>
                          <div class="d-flex flex-column">
                            <span>{{ user.lastAccess | amDateFormat }}</span>
                            <span>{{ user.lastIp }}</span>
                          </div>
                        } @else {
                          <span class="text-danger" l10nTranslate>never</span>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </tab>

    <tab (selectTab)="tabView='permissions'" customClass="tab-dialog">
      <ng-template tabHeading>
        <span class="app-tab-heading">
          <svg [lucideIcon]="icons.LucideShieldCheck"></svg>
          <span class="app-tab-label" l10nTranslate>Permissions</span>
        </span>
      </ng-template>
      <div class="app-tab-content row g-3">
        <div class="col-12 col-lg-5 d-flex flex-column">
          <div class="card dialog-tab-card w-100 h-100">
            <div class="card-body d-flex flex-column gap-2">
              <label for="" class="form-label mb-1" l10nTranslate>Account status</label>
              <div class="card dialog-check-card dialog-check-card--interactive"
                   [class.dialog-check-card--active]="userForm.value.isActive"
                   (click)="toggleAccountSetting('isActive')">
                <div class="card-body p-2">
                  <div class="d-flex align-items-center form-check form-switch cursor-pointer mb-0">
                    <input class="form-check-input" formControlName="isActive" id="isActive" type="checkbox" (click)="$event.stopPropagation()">
                    <label class="form-label form-check-label mb-0 ms-2" for="isActive" [class.text-danger]="!userForm.value.isActive"
                           (click)="$event.stopPropagation()">
                      {{ (userForm.value.isActive ? 'active' : 'suspended') | translate:locale.language | titlecase }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="card dialog-check-card dialog-check-card--interactive"
                   [class.dialog-check-card--active]="userForm.value.isAdmin"
                   (click)="toggleAccountSetting('isAdmin')">
                <div class="card-body p-2">
                  <div class="d-flex align-items-center form-check form-switch cursor-pointer mb-0">
                    <input class="form-check-input" formControlName="isAdmin" id="isAdmin" type="checkbox" (click)="$event.stopPropagation()">
                    <label class="form-label form-check-label mb-0 ms-2" for="isAdmin" (click)="$event.stopPropagation()" l10nTranslate>Administrator</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-7 d-flex flex-column">
          <div class="card dialog-tab-card w-100 h-100">
            <div class="card-body">
              <app-admin-permissions [permissions]="userForm.value.applications" (permissionsChange)="updateApplications($event)"></app-admin-permissions>
            </div>
          </div>
        </div>

        @if (userForm.value.groups.length) {
          <div class="col-12">
            <div class="card dialog-tab-card">
              <div class="card-body">
                <label class="form-label" for="groups_permissions" l10nTranslate>Permissions inherited from groups</label>
                <div id="groups_permissions">
                  @for (g of userForm.value.groups; track g.id) {
                    @if (g.permissions) {
                      <div class="d-flex align-items-center mb-1 gap-2">
                        <div class="d-flex align-items-center me-4">
                          <span class="circle-primary-icon me-2">
                            <svg [lucideIcon]="icons.GROUPS"></svg>
                          </span>
                          <span>{{ g.name }}</span>
                        </div>
                        <div class="d-flex fs-xs ms-auto">{{ g.permissions | split | join:true }}</div>
                      </div>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </tab>

    <tab (selectTab)="tabView='groups'" customClass="tab-dialog">
      <ng-template tabHeading>
        <span class="app-tab-heading">
          <svg [lucideIcon]="icons.LucideUsersRound"></svg>
          <span class="app-tab-label" l10nTranslate>Groups</span>
          <span class="app-tab-count">{{ userForm.value.groups.length || 0 }}</span>
        </span>
      </ng-template>
      <div class="app-tab-content my-3">
        <app-user-search
          [members]="userForm.value.groups"
          (membersChange)="updateMembers($event)"
          [withPermissions]="false"
          [customPlaceholder]="'Type to search for groups to add'"
          [searchFunction]="searchMembers.bind(this)">
        </app-user-search>
      </div>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  @if (user?.id) {
    <button (click)="confirmDeletion = true"
            [disabled]="confirmDeletion"
            class="btn btn-danger" type="button" l10nTranslate>
      Remove
    </button>
  }
  <button (click)="onCancel()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()"
          [disabled]="userForm.invalid || submitted" class="btn {{confirmDeletion ? 'btn-danger' : 'btn-primary'}}"
          type="button"
          l10nTranslate>
    {{ confirmDeletion ? 'Confirm deletion' : 'Confirm' }}
  </button>
</div>
