<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideLogOut"></svg>
    <span l10nTranslate>Leave group</span>
  </h4>
  <button (click)="onClose()" aria-label="Close" class="btn-close btn-close-white ms-auto" type="button"></button>
</div>
<div class="modal-body">
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center avatar me-2">
      <span class="{{member.isPersonalGroup ? 'circle-purple-icon' : 'circle-primary-icon'}}">
        <svg [lucideIcon]="icons.GROUPS"></svg>
      </span>
    </div>
    <span class="text-bold me-1">{{ member.name }}</span>
    <span l10nTranslate>will be left, you will no longer be a member of this group</span>
  </div>
</div>
<div class="modal-footer">
  <button (click)="onClose()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()"
          [disabled]="submitted" class="btn btn-primary"
          type="button"
          l10nTranslate>
    Confirm
  </button>
</div>

