<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.GROUPS"></svg>
    @if (group.id) {
      <span>{{ group.name }}</span>
    } @else {
      <span l10nTranslate>New personal group</span>
    }
    @if (loading) {
      <svg [lucideIcon]="icons.LucideLoader" [class.icon-spin]="true" class="ms-2"></svg>
    }
  </h4>
  @if (group.id) {
    <h4 class="modal-title ms-auto">
      @if (isPersonalGroup) {
        <span l10nTranslate>Edit personal group</span>
      } @else {
        <span l10nTranslate>Edit group</span>
      }
    </h4>
  }
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white {{group.id ? 'ms-2' : 'ms-auto'}} ms-2" type="button"></button>
</div>
<div class="modal-body">
  <div class="app-tab-content row g-3">
    <div class="col-12 d-flex flex-column">
      <div class="card dialog-tab-card w-100">
        <div class="card-body d-flex flex-column gap-3">
          <div>
            <label class="form-label" for="name" l10nTranslate>Name</label>
            <input id="name"
                   appAutofocus
                   [disabled]="!isPersonalGroup"
                   [autoSelect]="false"
                   [(ngModel)]="group.name"
                   [class.is-invalid]="!group.name"
                   class="form-control"
                   autocomplete="off"
                   type="text">
          </div>
          <div>
            <label class="form-label" for="description" l10nTranslate>Description</label>
            <input id="description"
                   [(ngModel)]="group.description"
                   [disabled]="!isPersonalGroup"
                   class="form-control"
                   autocomplete="off"
                   type="text">
          </div>
        </div>
      </div>
      @if (group.id) {
        <div class="card dialog-tab-card w-100 mt-3">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-12 col-md-6">
                <div class="d-flex flex-column">
                  <label class="form-label" for="created" l10nTranslate>Creation date</label>
                  <div class="fs-sm" id="created">{{ group.createdAt | amDateFormat }}</div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex flex-column text-md-end">
                  <label class="form-label" for="modified" l10nTranslate>Modification date</label>
                  <div class="fs-sm" id="modified">{{ group.modifiedAt | amDateFormat }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="onCancel()" class="btn btn-secondary ms-auto" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()"
          [disabled]="!this.group.name || submitted"
          class="btn btn-primary"
          type="button"
          l10nTranslate>
    Confirm
  </button>
</div>
