<header class="main-header">
  <nav class="navbar navbar-content">
    @if (!leftSideBarIsOpen) {
      <a (click)="toggleLeftSideBar()" class="navbar-button navbar-logo-button navbar-logo-button--delayed" role="button">
        <span class="logo-container">
          <span aria-hidden="true" class="sync-in-favicon logo-spin-in"></span>
        </span>
      </a>
    }
    @if (leftSideBarIsOpen) {
      <a (click)="navigateTo('back')" class="d-none d-md-flex navbar-button navbar-history-button navbar-history-button-left" role="button">
        <svg [lucideIcon]="icons.LucideChevronLeft"></svg>
      </a>
      <a (click)="navigateTo('next')" class="d-none d-md-flex navbar-button navbar-history-button navbar-history-button-right" role="button">
        <svg [lucideIcon]="icons.LucideChevronRight"></svg>
      </a>
    }
    <div class="navbar-breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="navbar-right-side">
      <div (click)="openSidebarUser()" class="menu">
        <div class="d-flex align-items-center avatar">
          @if (userAvatar) {
            <img class="avatar-img bg-gray-light-important" [src]="userAvatar" alt="">
          }
          <span class="avatar-{{allOnlineStatus[user?.onlineStatus]}}"></span>
        </div>
      </div>
    </div>
  </nav>
</header>
