<div class="modal-header">
  <h4 class="modal-title me-auto">
    <svg [lucideIcon]="isReadonly() ? icons.LucideEye : icons.LucidePencil"></svg>
    <span>{{ currentFile.name }}</span>
  </h4>
  @if (canToggleViewer) {
    <button (click)="toggleViewer()" class="btn btn-sm btn-primary me-2" type="button">
      <svg [lucideIcon]="isReadonly() ? icons.LucidePencil : icons.LucideEye"></svg>
      <span class="d-none d-sm-inline ms-2">{{ toggleViewerText }}</span>
    </button>
  }
  <button (click)="onMinimize()" aria-label="Minimize" class="btn-minimize btn-minimize-white" [class.ms-1]="canToggleViewer" type="button"></button>
  <button (click)="onClose()" aria-label="Close" class="btn-close btn-close-white ms-3" type="button"></button>
</div>
@if (currentFile) {
  <div class="modal-body">
    <ng-template #viewerLoading>
      <div [style.height.px]="currentHeight" class="d-flex align-items-center justify-content-center" role="status">
        <span class="spinner-border text-primary" aria-hidden="true"></span>
        <span class="visually-hidden" l10nTranslate>Loading...</span>
      </div>
    </ng-template>
    <ng-template #viewerError>
      <div [style.height.px]="currentHeight" class="d-flex align-items-center justify-content-center p-4" l10nTranslate>Unable to open document</div>
    </ng-template>
    @switch (activeViewer()) {
      @case (SHORT_MIME.IMAGE) {
        @defer (on immediate) {
          <app-files-viewer-image [currentHeight]="currentHeight" [(file)]="currentFile" [directoryImages]="directoryImages()"></app-files-viewer-image>
        } @loading (after 100ms; minimum 200ms) {
          <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
        } @error {
          <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
        }
      }
      @case (SHORT_MIME.PDF) {
        @defer (on immediate) {
          <app-files-viewer-pdf [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-pdf>
        } @loading (after 100ms; minimum 200ms) {
          <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
        } @error {
          <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
        }
      }
      @case (SHORT_MIME.MEDIA) {
        @defer (on immediate) {
          <app-files-viewer-media [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-media>
        } @loading (after 100ms; minimum 200ms) {
          <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
        } @error {
          <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
        }
      }
      @case (SHORT_MIME.DOCUMENT) {
        <!-- PDF toggled to OnlyOffice: editorProvider flags are not set for PDFs, so we route directly when the original file was a PDF (hookedShortMime === SHORT_MIME.PDF) -->
        @if (hookedShortMime === SHORT_MIME.PDF) {
          @defer (on immediate) {
            <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile"
                                          [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
          } @loading (after 100ms; minimum 200ms) {
            <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
          } @error {
            <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
          }
        } @else if (editorProvider.collabora) {
          @defer (on immediate) {
            <app-files-viewer-collabora-online [currentHeight]="currentHeight" [file]="currentFile"
                                               [(isReadonly)]="isReadonly"></app-files-viewer-collabora-online>
          } @loading (after 100ms; minimum 200ms) {
            <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
          } @error {
            <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
          }
        } @else if (editorProvider.onlyoffice || editorProvider.eurooffice) {
          @defer (on immediate) {
            <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile"
                                          [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
          } @loading (after 100ms; minimum 200ms) {
            <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
          } @error {
            <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
          }
        } @else {
          <!--This case should never happen-->
          <div [style.height.px]="currentHeight" class="d-flex p-4" l10nTranslate>No editor found</div>
        }
      }
      @case (SHORT_MIME.MARKDOWN) {
        @defer (on immediate) {
          <app-files-viewer-markdown
            [currentHeight]="currentHeight"
            [file]="currentFile"
            [isWriteable]="isWriteable"
            [modalClosing]="modalClosing()"
            (viewerReady)="editableViewerReady.set(true)"
            [(isReadonly)]="isReadonly">
          </app-files-viewer-markdown>
        } @loading (after 100ms; minimum 200ms) {
          <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
        } @error {
          <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
        }
      }
      @default {
        @defer (on immediate) {
          <app-files-viewer-text
            [currentHeight]="currentHeight"
            [file]="currentFile"
            [isWriteable]="isWriteable"
            [modalClosing]="modalClosing()"
            (viewerReady)="editableViewerReady.set(true)"
            [(isReadonly)]="isReadonly">
          </app-files-viewer-text>
        } @loading (after 100ms; minimum 200ms) {
          <ng-container [ngTemplateOutlet]="viewerLoading"></ng-container>
        } @error {
          <ng-container [ngTemplateOutlet]="viewerError"></ng-container>
        }
      }
    }
  </div>
}
