<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideTrash2"></svg>
    <span l10nTranslate>Remove</span>
    @if (submitted) {
      <svg [lucideIcon]="icons.LucideLoader" [class.icon-spin]="true" class="ms-2"></svg>
    }
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white" type="button"></button>
</div>
<div class="modal-body">
  <div class="overflow-wrap-and-whitespace">
    @switch (submitted) {
      @case (false) {
        @if (files.length > 1) {
          <div [innerHTML]="(permanently ? 'delete_multiple_files' : 'trash_multiple_files') | translate:locale.language:{arg: files.length}"></div>
        } @else if (files.length === 1) {
          <div [innerHTML]="(permanently ? 'delete_one_file' : 'trash_one_file') | translate:locale.language:{arg: files[0].name}"></div>
        }
      }
      @case (true) {
        <div l10nTranslate>{{ (permanently ? 'Permanent deletion' : 'Moving to trash') }}</div>
      }
    }
  </div>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onSubmit()" [disabled]="submitted" class="btn btn-danger" type="button" l10nTranslate>Confirm</button>
</div>
