<div class="modal-header">
  <h4 class="modal-title me-auto">
    <fa-icon [icon]="isReadonly() ? icons.faEye : icons.faPen"></fa-icon>
    <span>{{ currentFile.name }}</span>
  </h4>
  @if (canToggleViewer) {
    <button (click)="toggleViewer()" class="btn btn-sm btn-primary me-2" type="button">
      <fa-icon [icon]="isReadonly() ? icons.faPen : icons.faEye"></fa-icon>
      <span class="d-none d-sm-inline ms-2" l10nTranslate>{{ isReadonly() ? 'Edit in OnlyOffice' : 'View in PDF.js' }}</span>
    </button>
  }
  <button (click)="onMinimize()" aria-label="Minimize" class="btn-minimize btn-minimize-white" [class.ms-1]="canToggleViewer" type="button"></button>
  <button (click)="onClose()" aria-label="Close" class="btn-close btn-close-white ms-3" type="button"></button>
</div>
@if (currentFile) {
  <div class="modal-body">
    @switch (activeViewer()) {
      @case (SHORT_MIME.IMAGE) {
        <app-files-viewer-image [currentHeight]="currentHeight" [(file)]="currentFile" [directoryImages]="directoryImages()"></app-files-viewer-image>
      }
      @case (SHORT_MIME.PDF) {
        <app-files-viewer-pdf [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-pdf>
      }
      @case (SHORT_MIME.MEDIA) {
        <app-files-viewer-media [currentHeight]="currentHeight" [file]="currentFile"></app-files-viewer-media>
      }
      @case (SHORT_MIME.DOCUMENT) {
        <!-- PDF toggled to OnlyOffice: editorProvider flags are not set for PDFs, so we route directly when the original file was a PDF (hookedShortMime === SHORT_MIME.PDF) -->
        @if (hookedShortMime === SHORT_MIME.PDF) {
          <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
        } @else if (editorProvider.collabora) {
          <app-files-viewer-collabora-online [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-collabora-online>
        } @else if (editorProvider.onlyoffice) {
          <app-files-viewer-only-office [currentHeight]="currentHeight" [file]="currentFile" [(isReadonly)]="isReadonly"></app-files-viewer-only-office>
        } @else {
          <!--This case should never happen-->
          <div [style.height.px]="currentHeight" class="d-flex p-4" l10nTranslate>No editor found</div>
        }
      }
      @default {
        <app-files-viewer-text
          [currentHeight]="currentHeight"
          [file]="currentFile"
          [isWriteable]="isWriteable"
          [modalClosing]="modalClosing()"
          [(isReadonly)]="isReadonly">
        </app-files-viewer-text>
      }
    }
  </div>
}
