<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="icons.faFileShield"></fa-icon>
    @if (renamedTo) {
      <span l10nTranslate>Replace Existing File</span>
    } @else {
      <span l10nTranslate>Overwrite Existing File(s)</span>
    }
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white" type="button"></button>
</div>
<div class="modal-body">
  @if (renamedTo) {
    <div [innerHTML]="'RenameFileToExisting' | translate:locale.language:{ old: files[0].name, new: renamedTo }"></div>
  } @else {
    <div class="text-bold mb-3" l10nTranslate>Do you want to replace the existing file(s)?</div>
    @for (f of files; track $index) {
      <div class="d-flex align-items-center mb-1">
        <img [src]="f.mimeUrl" alt="" height="24" width="24" (error)="f.fallBackMimeUrl()">
        <div class="d-flex flex-column ms-2">
          <span>{{ f.name }}</span>
        </div>
      </div>
    }
  }
</div>
<div class="modal-footer">
  <button (click)="onAction(false)" class="btn btn-secondary" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="onAction(true)" [disabled]="submitted" class="btn btn-danger" type="button" l10nTranslate>Confirm</button>
</div>
