<div class="title-bar">
  @if (layoutV2.isMobile()) {
    <button
      type="button"
      class="title-bar__brand"
      (click)="onBrandClick()"
      [attr.aria-expanded]="layoutV2.leftNavOpen()"
      aria-controls="v2-left-nav"
      [attr.aria-label]="'Toggle navigation' | translate: locale.language"
    >
      <app-v2-logo [size]="22" />
    </button>
  }
  <div class="title-bar__spacer"></div>
  <div class="title-bar__right">
    <ng-content select="[titleBarRight]"></ng-content>
    <app-v2-notifications-bell />
    <div class="title-bar__avatar" [attr.title]="user?.fullName">
      @if (userAvatar) {
        <img class="title-bar__avatar-img" [src]="userAvatar" alt="" />
      } @else {
        {{ userInitials() }}
      }
    </div>
  </div>
</div>
