<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.SHARES"></svg>
    <span>{{ share?.name || space?.name }}</span>
  </h4>
  <h4 class="modal-title ms-auto">
    <span l10nTranslate>Child shares</span>
    <span class="badge badge-small bg-default ms-2">{{ childSharesLength || 0 }}</span>
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white ms-2" type="button"></button>
</div>
<div appAutoResize class="modal-body" [resizeOffset]="170" style="padding-right: 24px">
  <ul class="tree">
    <ng-template #recursiveList let-shares>
      @for (s of toShares(shares); track s.id) {
        <li>
          <div (click)="onSelect(s)" (dblclick)="openChildShare()" [class.selected]="selected && selected.id === s.id" class="app-div-hovered">
            <div class="me-auto text-truncate">
              <img [src]="s.mimeUrl" alt="" draggable="false" height="28" (error)="s.fallBackMimeUrl()">
              @if (s.isShareLink) {
                <svg [lucideIcon]="icons.LINKS" class="align-middle ms-1"></svg>
              }
              <span class="ms-1 align-middle">{{ s.name }}</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="fs-2xs me-2">{{ s.owner.fullName }}</span>
              <app-user-avatar [user]="s.owner" tooltipPlacement="top" container="body" [height]="26" [width]="26"></app-user-avatar>
            </div>
          </div>
          @if (s.children?.length > 0) {
            <ul>
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: s.children }"></ng-container>
            </ul>
          }
        </li>
      }
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: childShares }"></ng-container>
  </ul>
</div>
<div class="modal-footer">
  <button (click)="openChildShare()" [disabled]="!selected" class="btn btn-primary" l10nTranslate type="button">Edit</button>
  <button (click)="layout.closeDialog()" class="btn btn-secondary" data-dismiss="modal" l10nTranslate type="button">Close</button>
</div>
