@if (adapter().isOpen()) {
  <div class="files-viewer-search">
    <fa-icon class="files-viewer-search-icon" [icon]="icons.faMagnifyingGlass"></fa-icon>
    <input
      #searchInput
      (keydown)="searchKeyDown($event)"
      (ngModelChange)="queryChange($event)"
      [ngModel]="query()"
      autocomplete="off"
      class="files-viewer-search-input"
      type="search" />
    <span class="files-viewer-search-count">{{ adapter().currentIndex() }} / {{ adapter().matchCount() }}</span>
    <button
      (click)="adapter().previous()"
      [disabled]="!adapter().matchCount()"
      class="btn btn-sm btn-custom files-viewer-search-button"
      type="button">
      <fa-icon [icon]="icons.faChevronUp"></fa-icon>
    </button>
    <button
      (click)="adapter().next()"
      [disabled]="!adapter().matchCount()"
      class="btn btn-sm btn-custom files-viewer-search-button"
      type="button">
      <fa-icon [icon]="icons.faChevronDown"></fa-icon>
    </button>
    <button
      (click)="adapter().close()"
      class="btn btn-sm btn-custom files-viewer-search-button"
      type="button">
      <fa-icon [icon]="icons.faXmark"></fa-icon>
    </button>
  </div>
}
