<div class="link-page">
  <div class="header">
    <a routerLink="">
      <span aria-hidden="true" class="sync-in-logo sync-in-logo--light"></span>
    </a>
  </div>
  <div class="d-flex flex-column align-items-center" style="margin-top: 1.2rem; margin-bottom: .6rem">
    <svg class="text-white link-error-icon" [lucideIcon]="icons.LucideCircleAlert"></svg>
  </div>
  <div class="mime-text" l10nTranslate>Link error</div>
  <div class="link-text">
    <span class="hr"></span>
    <div>
      <span class="info" l10nTranslate>{{ error }}</span>
    </div>
  </div>
</div>
