<div class="link-page">
  <div class="header">
    <a routerLink="">
      <span aria-hidden="true" class="sync-in-logo sync-in-logo--light"></span>
    </a>
  </div>
  <div class="d-flex flex-column align-content-center">
    <div class="d-flex flex-column align-items-center mt-3 mb-1 mx-auto cursor-pointer">
      <div (click)="followLink()" class="resource">
        <div class="mime">
          @if (file?.mimeUrl) {
            <img [src]="file.mimeUrl" alt="" class="no-select-pointer" (error)="fallBackMimeUrl()">
          } @else {
            <span class="circle-primary-icon">
              <svg [lucideIcon]="icons.SPACES"></svg>
            </span>
          }
        </div>
        <span class="mime-text">{{ link.share?.name || link.space?.name }}</span>
      </div>
      @if (file?.isDir === false) {
        <div class="btn-group-action">
          @if (file?.isViewable) {
            <button (click)="openLink()" class="btn btn-lg btn-outline-light me-2" l10nTranslate>
              <svg [lucideIcon]="fileCanBeModified && file.isEditable ? icons.LucidePencil : icons.LucideEye"></svg>
            </button>
          }
          <button (click)="downloadLink()" class="btn btn-lg btn-outline-light">
            <svg [lucideIcon]="icons.LucideHardDriveDownload"></svg>
          </button>
        </div>
      }
    </div>
  </div>
  <div class="link-text">
    <span class="hr"></span>
    <div class="d-flex justify-content-center align-items-center">
      @if (link.owner) {
        <img [src]="link.owner.avatar" alt="" class="avatar-base-img me-3" width="42" height="42">
        <span class="owner-text me-2">{{ link.owner.fullName }}</span>
      }
      <span class="info">
      @if (link.space) {
        <span l10nTranslate>You have been invited to join this space</span>
      } @else if (link.owner) {
        <span>{{ 'share with you this' | translate:locale.language }} {{ (link.share.isDir ? 'directory' : 'file') | translate:locale.language }}</span>
      } @else {
        <span l10nTranslate>You have been invited to join this share</span>
      }
      </span>
    </div>
  </div>
</div>
