<div class="link-page">
  <div class="header">
    <a routerLink="">
      <span aria-hidden="true" class="sync-in-logo sync-in-logo--light"></span>
    </a>
  </div>
  <div class="resource" style="margin: 1.2rem 1rem;">
    <img (click)="validPassword()" alt="" class="cursor-pointer" [src]="linkProtected">
  </div>
  <div class="d-flex flex-column align-items-center mt-2 ms-auto me-auto">
    <div class="input-group input-group-lg" style="max-width: 220px">
      <input [(ngModel)]="password"
             (keyup.enter)="validPassword()"
             [class.is-invalid]="password?.length < passwordMinLength"
             autocomplete="off"
             class="form-control"
             [placeholder]="'Password' | translate:locale.language"
             type="password"
             required>
      <button [disabled]="password?.length < passwordMinLength"
              (click)="validPassword()"
              class="btn btn-custom"
              type="button">
        <svg [lucideIcon]="icons.LucideLogIn"></svg>
      </button>
    </div>
  </div>
  <div class="link-text">
    <span class="hr"></span>
    <div>
      <span class="info" l10nTranslate>This access is protected by a password</span>
    </div>
  </div>
</div>
