@if (trash()) {
  <div appAutoResize class="fs-sm" [resizeOffset]=resizeOffset>
    <div class="card px-1 pt-1">
      <div class="card-body align-self-center p-0 my-1">
        <span
          class="circle-primary-icon"
          style="font-size: calc(var(--font-size-md) * 3)"
          [style.width.px]="cardImageSize"
          [style.height.px]="cardImageSize">
          <svg [lucideIcon]="iconTrash"></svg>
        </span>
      </div>
    </div>
    <hr class="my-1" />
    <div class="p-2">
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Name</div>
        <div class="d-flex col-7 col-sm-7 word-break-all fs-sm">{{ (trash().isPersonal ? (trash().name | translate:locale.language) : trash().name) }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Created</div>
        <div class="d-flex col-7 col-sm-7 fs-sm">{{ trash().ctime | amDateFormat }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Modified</div>
        <div class="d-flex col-7 col-sm-7 fs-sm">{{ trash().mtime | amDateFormat }}</div>
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Elements</div>
        @if (trash().nb) {
          <span class="badge bg-danger">{{ trash().nb }}</span>
        } @else {
          <span class="badge bg-default" l10nTranslate>no</span>
        }
      </div>
    </div>
  </div>
}


