<aside class="left-sidebar">
  <div class="sidebar-apps-menus">
    <div class="menu-title">
      <div class="menu-title-content">
        <button (click)="toggleSideBar()" class="logo-toggle" type="button">
          <img alt="" class="logo-toggle-spin-in" [src]="logoIconUrl">
        </button>
        <span class="sidebar-title">{{ dynamicTitle }}</span>
      </div>
    </div>
    <div class="apps-shortcuts">
      @for (menu of appsMenu.submenus; track menu.title) {
        @if (!menu.hide) {
          <button (click)="navigateToMenu(menu)"
                  (mouseenter)="previewMenuTitle(menu.title)"
                  (mouseleave)="restoreMenuTitle()"
                  [class.active]="menu.isActive"
                  class="app-shortcut"
                  type="button">
            <fa-icon [animation]="menu.iconAnimated ? 'spin' : null" [icon]="menu.icon"></fa-icon>
            @if (menu.count) {
              <span class="menu-badge-icon">
              @if (menu.count.value | async; as count) {
                <span class="badge bg-{{menu.count.level}}">{{ count }}</span>
              }
              </span>
            }
          </button>
        }
      }
      @if (store.userImpersonate()) {
        <button (click)="logOut()"
                (mouseenter)="previewMenuTitle('logout')"
                (mouseleave)="restoreMenuTitle()"
                class="app-shortcut"
                type="button">
          <fa-icon [icon]="icons.faUserSecret"></fa-icon>
        </button>
      }
    </div>
    <div class="menus-content">
      <div class="menus-group">
        @for (menu of currentMenu.submenus; track menu.title) {
          @if (!menu.hide) {
            <ng-container [ngTemplateOutlet]="MenuApps" [ngTemplateOutletContext]="{menu: menu}"></ng-container>
          }
        }
      </div>
      <div class="sidebar-apps-footer">
        <span>{{ appVersion }}</span>
      </div>
    </div>
  </div>
</aside>
<!--Start Templates-->
<ng-template #MenuTemplate let-menu="menu">
  <fa-icon [icon]="menu.icon" [animation]="menu.iconAnimated ? 'spin' : null"></fa-icon>
  <span l10nTranslate>{{ menu.title }}</span>
  @if (menu.hasSubmenus) {
    <span class="ms-auto opacity-75"><fa-icon [icon]="icons.faChevronDown" size="sm"></fa-icon></span>
  }
  @if (menu.count) {
    <span class="menu-badge">
    @if (menu.count.value | async; as count) {
      <span class="badge bg-{{menu.count.level}}">{{ count }}</span>
    }
    </span>
  }
</ng-template>
<!--Start Apps Menu Template-->
<ng-template #MenuApps let-menu="menu">
  <div class="menu" [class.active]="menu.isActive">
    <a [routerLink]="menu.link">
      <ng-container [ngTemplateOutlet]="MenuTemplate" [ngTemplateOutletContext]="{menu: menu}"></ng-container>
    </a>
  </div>
  @if (menu.hasSubmenus) {
    @for (submenu of menu.submenus; track submenu.title) {
      @if (!submenu.hide) {
        <div class="menu submenu" [class.active]="submenu.isActive">
          <a [routerLink]="submenu.link">
            <ng-container [ngTemplateOutlet]="MenuTemplate" [ngTemplateOutletContext]="{menu: submenu}"></ng-container>
          </a>
        </div>
      }
    }
  }
</ng-template>
<!--End Templates-->
