<div class="wizard fs-md">
  <div class="wizard-settings-cards">
    <div class="card dialog-tab-card wizard-settings-card">
      <div class="card-header wizard-settings-card-header">
        <svg [lucideIcon]="icons.CLIENT"></svg>
        <span l10nTranslate>Client</span>
      </div>
      <div class="card-body wizard-settings-card-body">
        <div class="wizard-settings-card-main cursor-pointer" placement="left" [tooltip]="syncService.wizard.localPath.path">
          <div class="wizard-settings-card-icon">
            <img [src]="syncService.wizard.localPath.mimeUrl" alt="">
          </div>
          <div class="wizard-settings-card-name text-truncate">{{ syncService.wizard.localPath.name }}</div>
        </div>
        <div class="wizard-settings-card-path text-truncate">{{ syncService.wizard.localPath.path }}</div>
      </div>
    </div>
    <div class="wizard-settings-direction d-none d-md-flex">
      <app-sync-path-direction-icon [syncPath]="syncPath"></app-sync-path-direction-icon>
    </div>
    <div class="card dialog-tab-card wizard-settings-card">
      <div class="card-header wizard-settings-card-header">
        <svg [lucideIcon]="icons.SERVER"></svg>
        <span l10nTranslate>Server</span>
      </div>
      <div class="card-body wizard-settings-card-body">
        <div class="wizard-settings-card-main cursor-pointer" placement="right" [tooltip]="translatedRemotePath">
          <div class="wizard-settings-card-icon">
            @if (syncService.wizard.remotePath.icon) {
              <span class="circle-{{syncService.wizard.remotePath.iconClass}}-icon wizard-settings-card-remote-icon">
                <svg [lucideIcon]="syncService.wizard.remotePath.icon"></svg>
              </span>
            } @else {
              <img [src]="syncService.wizard.remotePath.mimeUrl" alt="">
            }
          </div>
          <div class="wizard-settings-card-name text-truncate">{{ syncService.wizard.remotePath.name }}</div>
        </div>
        <div class="wizard-settings-card-path text-truncate">{{ translatedRemotePath }}</div>
      </div>
    </div>
  </div>
  <app-sync-path-settings class="my-auto" [syncPath]="syncPath"></app-sync-path-settings>
  <div class="fs-md d-none d-md-block">
    @if (error) {
      <div class="text-center text-warning" l10nTranslate>{{ error }}</div>
    } @else {
      <div class="text-center">
        <span l10nTranslate>The data will be synchronized from</span>
        <span class="mx-1" l10nTranslate>{{ syncPath.settings.mode === SYNC_PATH_MODE.DOWNLOAD ? 'the server folder' : 'the client folder' }}</span>
        @if (syncPath.settings.mode === SYNC_PATH_MODE.BOTH) {
          <span l10nTranslate>and from</span>
        } @else {
          <span class="fw-bold" l10nTranslate>to</span>
        }
        <span class="mx-1" l10nTranslate>{{ syncPath.settings.mode === SYNC_PATH_MODE.DOWNLOAD ? 'the client folder' : 'the server folder' }}</span>
        @if (syncPath.settings.mode === SYNC_PATH_MODE.BOTH) {
          <span l10nTranslate>(Two-Way)</span>
        } @else {
          <span l10nTranslate>(One-Way)</span>
        }
      </div>
      <div class="text-center mt-2">
        @if (syncPath.settings.mode === SYNC_PATH_MODE.BOTH) {
          <div>
            <span l10nTranslate>In case of conflict,</span>
            <span>&nbsp;</span>
            @if (syncPath.settings.conflictMode === SYNC_PATH_CONFLICT_MODE.RECENT) {
              <span class="fw-bold" l10nTranslate>the most recent files will be kept</span>
            } @else {
              <span l10nTranslate>the files in</span>
              <span class="fw-bold mx-1">{{ syncPath.settings.conflictMode === SYNC_PATH_CONFLICT_MODE.LOCAL ? syncService.wizard.localPath.name : syncService.wizard.remotePath.name }}</span>
              <span l10nTranslate>will be preferred</span>
            }
          </div>
        } @else {
          <div>
            <span l10nTranslate>All files created or modified in</span>
            <span class="fw-bold mx-1">{{ syncPath.settings.mode === SYNC_PATH_MODE.DOWNLOAD ? syncService.wizard.localPath.name : syncService.wizard.remotePath.name }}</span>
            <span l10nTranslate>will be ignored and deleted</span>
          </div>
        }
      </div>
    }
  </div>
  <div class="mt-auto">
    <div class="d-flex align-items-start wizard-actions">
      <button (click)="onPrevious()" class="btn btn-default me-auto" translate type="button">
        <svg [lucideIcon]="icons.LucideCircleArrowLeft"></svg>
        Previous
      </button>
      <button (click)="onSubmit()" [disabled]="!syncPath.settings.name" class="btn btn-default ms-auto" translate type="button">
        <svg [lucideIcon]="icons.LucideCircleCheck"></svg>
        Done
      </button>
    </div>
  </div>
</div>
