<div appAutoResize [resizeOffset]="45" class="search-results-list" role="list">
  @if (errorMessage) {
    <div class="p-3 text-danger fw-500" l10nTranslate>{{ errorMessage }}</div>
  }
  @for (file of store.filesSearch() | searchFilter:navbarSearch.viewFilter(); track $index) {
    <article
      (click)="selectedId = $index"
      (appTap)="goTo(file)"
      [class.selected]="$index === selectedId"
      class="app-div-striped search-result-item">
      <div class="search-result-header d-flex align-items-start">
        <img [src]="file.mimeUrl" (error)="file.fallBackMimeUrl()" alt="" draggable="false" class="search-result-mime">
        <div class="search-result-meta d-flex flex-column">
          <span class="search-result-name text-truncate">{{ file.name }}</span>
          <app-file-location class="search-result-path" [location]="file"></app-file-location>
        </div>
      </div>
      @if (file.matches?.length) {
        <div class="search-result-matches">
          @for (match of file.matches; track $index) {
            <p class="search-result-match" [innerHTML]="match"></p>
          }
        </div>
      }
    </article>
  }
</div>
