<div class="app-top-menu">
  <button (click)="onRefresh()"
          [tooltip]="'Refresh' | translate:locale.language"
          class="d-none d-sm-block btn btn-default me-1" type="button">
    <fa-icon [icon]="icons.faArrowRotateRight"></fa-icon>
  </button>
  <button (click)="addToSync()"
          [tooltip]="'Add' | translate:locale.language"
          class="btn btn-default me-1" type="button">
    <fa-icon [icon]="icons.faPlus"></fa-icon>
  </button>
  <button (click)="openSettingsDialog()"
          [disabled]="!syncPathSelected"
          [tooltip]="'Edit' | translate:locale.language"
          class="btn btn-default me-1" type="button">
    <fa-icon [icon]="icons.faPencilAlt"></fa-icon>
  </button>
  <button (click)="openReportDialog()"
          [disabled]="!syncPathSelected || !syncPathSelected.settings.enabled"
          [tooltip]="'Simulate' | translate:locale.language"
          class="btn btn-default me-1" type="button">
    <fa-icon [icon]="icons.faFlask"></fa-icon>
  </button>
  <!--Start Sync Buttons-->
  @if (syncPathSelected && syncPathSelected.inSync) {
    <button (click)="doSync(false)"
            [tooltip]="'Stop synchronization' | translate:locale.language"
            class="btn btn-default me-1" type="button">
      <fa-icon [icon]="icons.faStop"></fa-icon>
    </button>
  } @else {
    <button (click)="doSync(true)"
            [disabled]="!syncPathSelected || !syncPathSelected.settings.enabled"
            [tooltip]="'Synchronize' | translate:locale.language"
            class="btn btn-default me-1" type="button">
      <fa-icon [icon]="icons.faPlay"></fa-icon>
    </button>
  }
  @if (allSyncsRunning) {
    <button (click)="doAllSyncs(false)"
            [tooltip]="'Stop synchronizations' | translate:locale.language"
            class="btn btn-default me-1" type="button">
      <fa-icon [icon]="icons.faStop"></fa-icon>
    </button>
  } @else {
    <div [tooltip]="'Synchronize all' | translate:locale.language">
      <div class="btn-group me-1" dropdown [isDisabled]="!store.clientSyncPaths().length">
        <button class="btn btn-default dropdown-toggle" dropdownToggle type="button">
          <fa-icon [icon]="icons.faForward"></fa-icon>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a (click)="doAllSyncs(true, false)" class="dropdown-item">
              <span l10nTranslate>
                <fa-icon [icon]="icons.faArrowsSpin"></fa-icon>
                Sequentially
              </span>
            </a>
          </li>
          <li role="menuitem">
            <a (click)="doAllSyncs(true)" class="dropdown-item">
              <span l10nTranslate>
                <fa-icon [icon]="icons.faShuffle"></fa-icon>
                Asynchronously
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  }
  <div [tooltip]="(('Scheduler' | translate:locale.language) + ': ' + (store.clientScheduler() | translate:locale.language))">
    <div class="btn-group me-1" dropdown>
      <button class="btn {{store.clientScheduler() === CLIENT_SCHEDULER_STATE.DISABLED ? 'btn-warning' : 'btn-success'}} dropdown-toggle" dropdownToggle type="button">
        @if (store.clientScheduler() === CLIENT_SCHEDULER_STATE.DISABLED) {
          <fa-icon [icon]="icons.faCalendarXmark"></fa-icon>
        } @else {
          <fa-icon [icon]="icons.faCalendarCheck"></fa-icon>
        }
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        @if (store.clientScheduler() !== CLIENT_SCHEDULER_STATE.DISABLED) {
          <li role="menuitem">
            <a (click)="setScheduler(CLIENT_SCHEDULER_STATE.DISABLED)" class="dropdown-item">
              <span l10nTranslate>
                <fa-icon [icon]="icons.faCalendarXmark"></fa-icon>
                Disable
              </span>
            </a>
          </li>
        }
        <li role="menuitem">
          <a (click)="setScheduler(CLIENT_SCHEDULER_STATE.SEQ)" class="dropdown-item">
            <span l10nTranslate>
              <fa-icon [icon]="icons.faArrowsSpin"></fa-icon>
              Sequentially
            </span>
          </a>
        </li>
        <li role="menuitem">
          <a (click)="setScheduler(CLIENT_SCHEDULER_STATE.ASYNC)" class="dropdown-item">
            <span l10nTranslate>
              <fa-icon [icon]="icons.faShuffle"></fa-icon>
              Asynchronously
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--End Sync Buttons-->
  <div [tooltip]="'Go to' | translate:locale.language">
    <div [isDisabled]="!syncPathSelected" class="btn-group me-1" dropdown>
      <button class="btn btn-default dropdown-toggle" dropdownToggle type="button">
        <fa-icon [icon]="icons.faMapMarkerAlt"></fa-icon>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a (click)="goToPath()" class="dropdown-item">
            <span l10nTranslate>
              <fa-icon [icon]="icons.CLIENT"></fa-icon>
              Client
            </span>
          </a>
        </li>
        <li role="menuitem">
          <a (click)="goToPath(false)" class="dropdown-item">
            <span l10nTranslate>
              <fa-icon [icon]="icons.SERVER"></fa-icon>
              Server
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--Start Filter Button-->
  <app-input-filter class="d-none d-sm-block ms-auto"></app-input-filter>
  <!--End Filter Button-->
</div>
<table class="app-table">
  <thead>
  <tr>
    @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
      @if (th.value.show) {
        <th (click)="sortBy(th.key)"
            [style.width.%]="th.value.width"
            [class.text-align-center]="th.value.textCenter"
            [class.cursor-pointer]="th.value.sortable"
            class="{{th.value.class}}"
            l10nTranslate>
          {{ th.value.label }}
          @if (sortTable.sortParam.column === th.key) {
            <fa-icon [icon]="sortTable.sortParam.asc ? icons.faArrowDown : icons.faArrowUp"></fa-icon>
          }
        </th>
      }
    }
  </tr>
  </thead>
</table>
<app-virtual-scroll (contextmenu)="onContextMenu($event)"
                    [bufferAmount]="5"
                    [items]="store.clientSyncPaths() | searchFilter:inputFilter.search():'name'">
  <table class="app-table">
    <tbody tabindex="-1">
      @for (s of store.clientSyncPaths() | searchFilter:inputFilter.search(); track s.id) {
        <tr (click)="onSelect(s)"
            (contextmenu)="onSyncPathContextMenu($event, s)"
            (dblclick)="openSettingsDialog()"
            [class.selected]="syncPathSelected && syncPathSelected.id === s.id">
          @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
            @if (th.value.show) {
              <td [style.width.%]="th.value.width"
                  [class.text-align-center]="th.value.textCenter"
                  class="{{th.value.class}}">
                @switch (th.key) {
                  @case ('name') {
                    <div class="d-flex align-items-center">
                      <img [src]="s.mimeUrl" alt="" draggable="false" height="35">
                      <span>{{ s.settings.name }}</span>
                      <span class="d-flex align-items-center ms-auto">
                        @if (s.nbSyncTasks) {
                          <span class="badge bg-maroon">{{ s.nbSyncTasks }}</span>
                        }
                        @if (s.mainError) {
                          <span [tooltip]="s.mainError | translate:locale.language" class="badge bg-danger cursor-pointer ms-1" placement="right">
                            <fa-icon [icon]="icons.faExclamationTriangle" class="m-0"></fa-icon>
                          </span>
                        }
                        @if (s.lastErrors.length) {
                          <span (click)="showErrors(s)" class="badge bg-danger cursor-pointer ms-1">
                            <fa-icon [icon]="icons.faExclamationTriangle" class="me-1"></fa-icon>
                            {{ s.lastErrors.length }}
                          </span>
                        }
                      </span>
                    </div>
                  }
                  @case ('mode') {
                    <app-sync-path-direction-icon [syncPath]="s"></app-sync-path-direction-icon>
                  }
                  @case ('conflictMode') {
                    <span l10nTranslate>{{ s.settings.mode === SYNC_PATH_MODE.BOTH ? s.settings.conflictMode : s.settings.mode ? SYNC_PATH_CONFLICT_MODE.REMOTE : SYNC_PATH_CONFLICT_MODE.LOCAL }}</span>
                  }
                  @case ('diffMode') {
                    <span l10nTranslate>{{ s.settings.diffMode }}</span>
                  }
                  @case ('scheduler') {
                    <app-sync-path-scheduler [s]="s"></app-sync-path-scheduler>
                  }
                  @case ('filters') {
                    {{ s.settings.filters.length }}
                  }
                  @case ('lastSync') {
                    <span class="{{th.value.newly ? 'badge sync-newly-' + s[th.value.newly] : ''}}">
                      @if (s.newly) {
                        {{ s.settings.lastSync | amLiveTimeAgo:true }}
                      } @else {
                        {{ 'never' | translate:locale.language }}
                      }
                    </span>
                  }
                }
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</app-virtual-scroll>
<!--Start Context Menu -->
<context-menu #SyncPathContextMenu>
  @if (syncPathSelected && syncPathSelected.inSync) {
    <ng-template (execute)="doSync(false)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faStop"></fa-icon>Synchronize</span>
    </ng-template>
  } @else {
    <ng-template (execute)="doSync(true)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faPlay"></fa-icon>Synchronize</span>
    </ng-template>
  }
  <ng-template (execute)="openReportDialog()" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faFlask"></fa-icon>Simulate</span>
  </ng-template>
  <ng-template [divider]="true" contextMenuItem></ng-template>
  <ng-template [subMenu]="SyncGoToContextMenu" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faMapMarkerAlt"></fa-icon>Go to</span>
  </ng-template>
  <ng-template (execute)="openSettingsDialog()" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faPencilAlt"></fa-icon>Edit</span>
  </ng-template>
</context-menu>
<context-menu #SyncAllContextMenu>
  <ng-template (execute)="doAllSyncs(true, false)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faArrowsSpin"></fa-icon>Sequentially</span>
  </ng-template>
  <ng-template (execute)="doAllSyncs(true)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faShuffle"></fa-icon>Asynchronously</span>
  </ng-template>
</context-menu>
<context-menu #SyncGoToContextMenu>
  <ng-template (execute)="goToPath()" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.CLIENT"></fa-icon>Client</span></ng-template>
  <ng-template (execute)="goToPath(false)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.SERVER"></fa-icon>Server</span></ng-template>
</context-menu>
<context-menu #SyncSchedulerContextMenu>
  @if (store.clientScheduler() !== CLIENT_SCHEDULER_STATE.DISABLED) {
    <ng-template (execute)="setScheduler(CLIENT_SCHEDULER_STATE.DISABLED)" contextMenuItem>
      <span><fa-icon [icon]="icons.faCalendarXmark"></fa-icon>
        {{ 'disabled' | translate:locale.language | capitalize }}</span>
    </ng-template>
  }
  <ng-template (execute)="setScheduler(CLIENT_SCHEDULER_STATE.SEQ)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faArrowsSpin"></fa-icon>Sequentially</span>
  </ng-template>
  <ng-template (execute)="setScheduler(CLIENT_SCHEDULER_STATE.ASYNC)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faShuffle"></fa-icon>Asynchronously</span>
  </ng-template>
</context-menu>
<context-menu #MainContextMenu>
  @if (allSyncsRunning) {
    <ng-template (execute)="doAllSyncs(false)" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faStop"></fa-icon>Stop synchronizations</span>
    </ng-template>
  } @else if (store.clientSyncPaths().length) {
    <ng-template [subMenu]="SyncAllContextMenu" contextMenuItem>
      <span l10nTranslate><fa-icon [icon]="icons.faForward"></fa-icon>Synchronize</span>
    </ng-template>
  }
  <ng-template [subMenu]="SyncSchedulerContextMenu" contextMenuItem>
    <span l10nTranslate>
      @if (store.clientScheduler() === CLIENT_SCHEDULER_STATE.DISABLED) {
        <fa-icon [icon]="icons.faCalendarXmark"></fa-icon>
      } @else {
        <fa-icon [icon]="icons.faCalendarCheck"></fa-icon>
      }
      Scheduler
    </span>
  </ng-template>
  <ng-template [divider]="true" contextMenuItem></ng-template>
  <ng-template (execute)="addToSync()" contextMenuItem><span l10nTranslate><fa-icon [icon]="icons.faPlus"></fa-icon>Add</span></ng-template>
</context-menu>
