<div class="app-top-menu">
  <div class="d-flex gap-2">
    <select (ngModelChange)="onSelectPath($event)" [ngModel]="syncPathSelected" class="form-select" style="min-width: 210px">
      <option [ngValue]="null" l10nTranslate>All syncs</option>
      @for (p of store.clientSyncPaths(); track p.id) {
        <option [ngValue]="p">{{ p.settings.name }}</option>
      }
    </select>
    <select (ngModelChange)="onSelectAction($event)" [ngModel]="action" class="form-select" style="min-width: 170px">
      <option [ngValue]="null" l10nTranslate>All events</option>
      <option l10nTranslate value="NEW|MKFILE|MKDIR">Added</option>
      <option l10nTranslate value="DIFF">Modified</option>
      <option l10nTranslate value="MOVE">Moved</option>
      <option l10nTranslate value="COPY">Copied</option>
      <option l10nTranslate value="RM|RMDIR">Removed</option>
      <option l10nTranslate value="ERROR">Error</option>
    </select>
  </div>
  <div class="d-flex align-items-center ms-auto">
    <!--Start Filter Button-->
    <div class="btn-group me-1">
      <app-input-filter class="d-none d-sm-block"></app-input-filter>
    </div>
    <!--End Filter Button-->
    <button (click)="refresh()"
            [tooltip]="'Refresh' | translate:locale.language"
            class="btn btn-default me-1"
            type="button">
      <svg [lucideIcon]="icons.LucideRotateCw"></svg>
    </button>
    <button (click)="openClearDialog()"
            [tooltip]="'Clear events' | translate:locale.language"
            placement="bottom"
            class="btn btn-default"
            type="button">
      <svg [lucideIcon]="icons.LucideTrash2"></svg>
    </button>
  </div>
</div>
<table class="app-table">
  <thead>
  <tr>
    @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
      @if (th.value.show) {
        <th (click)="sortBy(th.key)"
            [style.width.%]="th.value.width"
            [class.text-align-center]="th.value.textCenter"
            [class.cursor-pointer]="th.value.sortable"
            class="{{th.value.class}}"
            l10nTranslate>
          {{ th.value.label }}
          @if (sortTable.sortParam.column === th.key) {
            <svg [lucideIcon]="sortTable.sortParam.asc ? icons.LucideArrowDown : icons.LucideArrowUp"></svg>
          }
        </th>
      }
    }
  </tr>
  </thead>
</table>
<app-virtual-scroll [bufferAmount]="5" [items]="transfers" [resizeOffset]="105">
  <table class="app-table mb-3">
    <tbody tabindex="-1">
      @for (t of scrollView?.viewPortItems; track t.id) {
        <tr (click)="onSelect(t)" [class.selected]="t.selected">
          @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
            @if (th.value.show) {
              <td [style.width.%]="th.value.width"
                  [class.text-align-center]="th.value.textCenter"
                  class="{{th.value.class}}">
                @switch (th.key) {
                  @case ('action') {
                    <span class="d-flex align-items-center" [title]="t.actionText | translate:locale.language">
                      <span class="{{t.ok ? t.sideIconClass : 'circle-error-icon-sm'}} me-1">
                        <svg [lucideIcon]="t.sideIcon" class="fs-lg"></svg>
                      </span>
                      <span [class.text-danger]="!t.ok" class="circle-gray-icon-sm">
                        <svg [lucideIcon]="t.actionIcon" class="fs-lg"></svg>
                      </span>
                    </span>
                  }
                  @case ('sync') {
                    <span class="d-flex align-items-center">
                      <span class="fs-sm ms-1">{{ t.syncPathName }}</span>
                    </span>
                  }
                  @case ('file') {
                    <div class="d-flex align-items-center">
                      <img [src]=t.mimeUrl (error)="t.fallBackMimeUrl()" alt="" class="me-2" width="24">
                      <span class="d-flex flex-column fs-sm">
                        @if (t.fileDst) {
                          <span class="{{t.selected ? 'overflow-wrap-and-whitespace' : 'truncate'}}">{{ t.fileDst }}</span>
                          <span class="{{t.selected ? 'overflow-wrap-and-whitespace' : 'truncate'}} fs-sm"><b l10nTranslate>Source</b>:&nbsp;{{ t.file }}</span>
                        } @else {
                          <span class="{{t.selected ? 'overflow-wrap-and-whitespace' : 'truncate'}}">{{ t.file }}</span>
                        }
                        @if (!t.ok) {
                          <span class="{{t.selected ? 'overflow-wrap-and-whitespace' : 'truncate'}} text-danger fs-sm" l10nTranslate>{{ t.error }}</span>
                        }
                      </span>
                    </div>
                  }
                  @case ('date') {
                    <span class="{{th.value.newly && t[th.value.newly] ? 'badge prop-newly-' + t[th.value.newly] : ''}}"
                         (mouseenter)="t.hovered = true"
                         (mouseleave)="t.hovered = false">
                      <span>{{ t.hovered ? t.timestamp : t.hTimeAgo }}</span>
                    </span>
                  }
                }
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</app-virtual-scroll>
