<div class="app-top-menu app-top-menu-tool-bar d-flex justify-content-between"
     [attr.aria-label]="'Actions' | translate:locale.language"
     role="toolbar">
  <div class="d-flex">
    <button
      (click)="previousImage()"
      [attr.aria-label]="'Previous' | translate:locale.language"
      [tooltip]="'Previous' | translate:locale.language"
      [adaptivePosition]="true"
      class="btn btn-custom"
      type="button">
      <svg [lucideIcon]="icons.LucideChevronLeft"></svg>
    </button>
    <button
      (click)="nextImage()"
      [attr.aria-label]="'Next' | translate:locale.language"
      [tooltip]="'Next' | translate:locale.language"
      class="btn btn-custom"
      type="button">
      <svg [lucideIcon]="icons.LucideChevronRight"></svg>
    </button>
    @if (!isSlideshowActive()) {
    <button
      (click)="startSlideshow()"
      [attr.aria-label]="'Start Slideshow' | translate:locale.language"
      [tooltip]="'Start Slideshow' | translate:locale.language"
      class="btn btn-custom"
      type="button">
      <svg [lucideIcon]="icons.LucidePlay"></svg>
     </button>
    } @else {
    <button
      (click)="stopSlideshow()"
      [attr.aria-label]="'Stop slideshow' | translate:locale.language"
      [tooltip]="'Stop slideshow' | translate:locale.language"
      class="btn btn-custom"
      type="button">
      <svg [lucideIcon]="icons.LucideSquare"></svg>
    </button>
    }
    <button
      (click)="fullscreen()"
      [attr.aria-label]="'Fullscreen' | translate:locale.language"
      [tooltip]="'Fullscreen' | translate:locale.language"
      class="btn btn-custom"
      type="button">
      <svg [lucideIcon]="icons.LucideExpand"></svg>
    </button>
  </div>
  <div class="px-2">{{ imageIndex() + 1 }}<span class="px-1" l10nTranslate>of</span>{{ imageCount() }}</div>
  <button
    btnCheckbox
    [attr.aria-label]="'Info' | translate:locale.language"
    [(ngModel)]="isInfoboxOpen"
    [tooltip]="'Info' | translate:locale.language"
    class="d-none d-sm-block btn btn-custom"
    type="button">
    <svg [lucideIcon]="icons.LucideInfo"></svg>
  </button>
</div>
<div class="app-viewer-image" [style.height.px]="currentHeightWithOffset()">
  <img #image
       (load)="onImageLoad()"
       [src]="file().dataUrl" [style.max-height.px]="currentHeightWithOffset()"
       alt="" />
  <div class="info-box p-2 m-2 d-flex flex-column app-small-card rounded opacity-75" [class.d-none]="!isInfoboxOpen()">
    <div class="d-flex mb-1">
      <div class="d-flex col-sm text-bold">{{ 'Type' | translate:locale.language }}</div>
      <div>{{ file().mime }}</div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex col-sm text-bold">{{ 'Dimensions' | translate:locale.language }}</div>
      <div>{{ imageResolution() }}</div>
    </div>
    <div class="d-flex mb-1">
      <div class="d-flex col-sm text-bold">{{ 'Size' | translate:locale.language }}</div>
      <div>{{ file().hSize }}</div>
    </div>
  </div>
</div>
