<div class="files-viewer-text" [style.height.px]="currentHeight()">
  <div class="app-top-menu">
    <button
      (click)="toggleReadonly()"
      [tooltip]="(isReadonly() || !isWriteable() ? 'Read-only' : 'Read-write') | translate:locale.language"
      [adaptivePosition]="true"
      class="btn {{ isReadonly() ? 'btn-warning' : 'btn-default' }} me-1"
      type="button"
      [disabled]="!isSupported() || !isWriteable() || isSaving()">
      <fa-icon [icon]="isReadonly() ? icons.faLock : icons.faLockOpen"></fa-icon>
    </button>
    <button
      (click)="save()"
      [tooltip]="(canSave() ? 'Save' : undefined) | translate:locale.language"
      [delay]="0"
      [isDisabled]="!canSave()"
      class="btn btn-default me-1"
      type="button"
      [disabled]="!canSave()">
      @if (isSaving()) {
        <fa-icon [icon]="icons.faSpinner" animation="spin"></fa-icon>
      } @else {
        <fa-icon [icon]="icons.faFloppyDisk"></fa-icon>
      }
    </button>
    <button
      (click)="onUndo()"
      [disabled]="!canUndo()"
      [tooltip]="'Undo' | translate:locale.language"
      class="d-none d-sm-block btn btn-custom me-1"
      type="button">
      <fa-icon [icon]="icons.faReply"></fa-icon>
    </button>
    <button
      (click)="onRedo()"
      [disabled]="!canRedo()"
      [tooltip]="'Redo' | translate:locale.language"
      class="d-none d-sm-block btn btn-custom me-1"
      type="button">
      <fa-icon [icon]="icons.faShare"></fa-icon>
    </button>
    <button
      btnCheckbox
      [ngModel]="lineWrapping()"
      (ngModelChange)="lineWrapping.set($event)"
      [tooltip]="'Line Wrap' | translate:locale.language"
      class="btn btn-custom me-1"
      type="button">
      <fa-icon [icon]="icons.faArrowsLeftRightToLine"></fa-icon>
    </button>
    <button
      btnCheckbox
      [ngModel]="isSearchPanelOpen()"
      (ngModelChange)="toggleSearch()"
      [tooltip]="'Search' | translate:locale.language"
      class="d-none d-sm-block btn btn-custom"
      type="button">
      <fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon>
    </button>
    @if (warnOnUnsavedChanges()) {
      <button (click)="save(true)"
              class="btn btn-sm btn-primary me-2 ms-auto"
              type="button"
              l10nTranslate>Save And Exit
      </button>
      <button (click)="onClose()"
              [disabled]="isSaving()"
              class="btn btn-sm btn-danger me-2"
              data-dismiss="modal" type="button"
              l10nTranslate>Close Without Saving
      </button>
      <button (click)="warnOnUnsavedChanges.set(false)"
              class="d-none d-sm-block btn btn-sm btn-default"
              data-dismiss="modal" type="button"
              l10nTranslate>Cancel
      </button>
    }
  </div>
  <code-editor
    #editor
    [languages]="languages"
    [language]="currentLanguage"
    [(ngModel)]="content"
    (change)="contentChange($event)"
    [theme]="currentTheme"
    [readonly]="!canEditContent()"
    [disabled]="!canEditContent()"
    [extensions]="searchAdapter.extensions"
    [lineWrapping]="lineWrapping()" />
  <app-files-viewer-search [adapter]="searchAdapter"></app-files-viewer-search>
</div>
