@if (files().length) {
  @if (multiple()) {
    <div class="fs-sm">
      <div class="d-flex justify-content-center mt-3">
        <button (click)="addToClipboard()" class="btn btn-sm btn-primary me-1" type="button" l10nTranslate>
          <fa-icon [icon]="icons.faClipboardCheck"></fa-icon>
          Send to Clipboard
        </button>
      </div>
    </div>
    <hr class="mx-0 mt-3 mb-1">
  }
  <div appAutoResize class="fs-sm" [resizeOffset]=resizeOffset()>
    @if (multiple()) {
      <div class="flex-column p-2 w-100">
        @for (f of files(); track f.id) {
          <div class="d-inline-flex w-100 align-content-center align-items-center mx-1">
            <img [src]="f.mimeUrl" alt="" class="me-1" height="28" width="auto" (error)="f.fallBackMimeUrl()">
            <span class="text-truncate">{{ f.name }}</span>
          </div>
        }
      </div>
    } @else {
      @for (f of files(); track f.id) {
        <div class="card px-1 pt-1">
          <div class="card-body align-self-center p-0 my-1">
            @switch (f.shortMime) {
              @case ('image') {
                <div class="d-flex align-items-center" [style.height.px]="cardImageSize">
                  <img src="{{f.thumbnailUrl}}?size=256" alt="" class="img-fluid" [style.max-height.px]="cardImageSize">
                </div>
              }
              @case ('media') {
                <app-files-viewer-media [currentHeight]="cardImageSize" [file]="f" [sidebarMode]="true"></app-files-viewer-media>
              }
              @default {
                <img [src]="f.mimeUrl" alt="" [style.height.px]="cardImageSize" (error)="f.fallBackMimeUrl()">
              }
            }
          </div>
        </div>
        <hr class="my-1" />
        <div class="fs-sm p-2">
          <div class="d-flex mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Name</div>
            <div class="word-break-all">{{ f.name }}</div>
          </div>
          <div class="d-flex mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Size</div>
              @let size = (getSizeLazy(f) | async);
              @if (size === null) {
                <fa-icon [icon]="icons.faSpinner" animation="spin-pulse"></fa-icon>
              } @else {
                {{ size }}
              }
          </div>
          <div class="d-flex mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Created</div>
            <div>{{ f.ctime | amDateFormat }}</div>
          </div>
          <div class="d-flex mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Modified</div>
            <div>{{ f.mtime | amDateFormat }}</div>
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Lock</div>
            @if (f.lock) {
              @if (f.lock.isExclusive) {
                <span class="badge bg-maroon" l10nTranslate>
                  <fa-icon [icon]="icons.faLock"></fa-icon>
                  <span l10nTranslate>Exclusive</span>
                </span>
              } @else {
                <span class="badge bg-maroon" l10nTranslate>
                  <fa-icon [icon]="icons.faUnlock"></fa-icon>
                  <span l10nTranslate>Shared</span>
                </span>
              }
            } @else {
              <span class="badge bg-default" l10nTranslate>no</span>
            }
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Shared</div>
            <div class="d-flex col-7 col-sm-7">
              @if (f.shares.length || f.links.length) {
                <span class="badge bg-primary">
                  <fa-icon [icon]="icons.SHARES"></fa-icon>
                  {{ f.shares.length + f.links.length }}
                </span>
              } @else {
                <span class="badge bg-default" l10nTranslate>no</span>
              }
            </div>
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Anchored</div>
            @if (f.spaces.length) {
              <span class="badge bg-primary">
                <fa-icon [icon]="icons.SPACES"></fa-icon>
                {{ f.spaces.length }}</span>
            } @else {
              <span class="badge bg-default" l10nTranslate>no</span>
            }
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Synced</div>
            <span class="badge {{f.syncs.length ? 'bg-primary' : 'bg-default'}}">
              {{ (f.syncs.length ? 'yes' : 'no') | translate:locale.language }}
            </span>
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Comments</div>
            <span (click)="goToComments()" class="badge {{f.hasComments ? 'bg-success' : 'bg-default'}} cursor-pointer">
              {{ (f.hasComments ? 'yes' : 'no') | translate:locale.language }}
            </span>
          </div>
        </div>
        @if (f.root) {
          <hr class="my-1" />
          <div class="p-2">
            @if (f.root.owner) {
              <div class="d-flex align-items-center mb-1">
                <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Owner</div>
                <app-user-avatar [user]="f.root.owner" [height]="26" [width]="26" tooltipPlacement="bottom"></app-user-avatar>
              </div>
            }
            <div class="d-flex align-items-center">
              <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Permissions</div>
              @if (f.root.permissions) {
                <app-badge-permissions [permissions]="f.root.hPerms"></app-badge-permissions>
              } @else {
                <span class="badge bg-default" l10nTranslate>no</span>
              }
            </div>
          </div>
        }
        @if (f.lock || f.spaces.length || f.shares.length || f.links.length || f.syncs.length) {
          <hr class="mt-1 mb-2" />
          <div class="d-flex flex-wrap align-items-center p-2 fs-sm">
            @if (f.lock) {
              <div (click)="openLockDialog(f)"
                   class="badge white-space-normal bg-maroon cursor-pointer mb-2">
                <fa-icon [icon]="f.lock.isExclusive ? icons.faLock : icons.faUnlock"></fa-icon>
                {{ f.lock | fileLockFormatPipe }}
              </div>
            }
            @for (space of f.spaces; track space.id) {
              <div (click)="goToSpace(space)" class="badge white-space-normal bg-primary cursor-pointer me-1 mb-2">
                <fa-icon [icon]="icons.SPACES"></fa-icon>
                {{ space.name }}
              </div>
            }
            @for (share of f.shares; track share.id) {
              <div (click)="goToShare(share)" class="badge white-space-normal bg-primary cursor-pointer me-1 mb-2">
                <fa-icon [icon]="icons.SHARES"></fa-icon>
                {{ share.name }}
              </div>
            }
            @for (link of f.links; track link.id) {
              <div (click)="goToShare(link)" class="badge white-space-normal bg-primary cursor-pointer me-1 mb-2">
                <fa-icon [icon]="icons.LINKS"></fa-icon>
                {{ link.name }}
              </div>
            }
            @for (sync of f.syncs; track sync.id) {
              <div (click)="goToSync(sync)" class="badge white-space-normal bg-primary cursor-pointer me-1 mb-2">
                <fa-icon [icon]="icons.SYNC"></fa-icon>
                {{ sync.clientName }}
              </div>
            }
          </div>
        }
      }
    }
  </div>
}
