<!--Start Top Menu-->
<div class="app-top-menu">
  <button (click)="loadGuests()"
          class="btn btn-default me-1"
          [tooltip]="'Refresh' | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faRotate" [animation]="loading ? 'spin' : null"></fa-icon>
  </button>
  <button (click)="openGuestDialog(true)"
          [disabled]="!canCreateGuest"
          class="btn btn-default me-1"
          [tooltip]="'New guest' | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faPlus"></fa-icon>
  </button>
  <button (click)="openGuestDialog()"
          [disabled]="!selected"
          class="btn btn-default me-1"
          [tooltip]="'Edit guest' | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faPen"></fa-icon>
  </button>
  <!--Start Filter Button-->
  <app-input-filter class="d-none d-sm-block ms-auto"></app-input-filter>
  <!--End Filter Button-->
</div>
<!--End Top Menu-->
<!--Start Table Files Content-->
<table class="app-table">
  <thead>
  <tr>
    @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
      @if (th.value.show) {
        <th (click)="sortBy(th.key)"
            [style.width.%]="th.value.width"
            [class.text-align-center]="th.value.textCenter"
            [class.cursor-pointer]="th.value.sortable"
            class="{{th.value.class}}"
            l10nTranslate>
          {{ th.value.label }}
          @if (sortTable.sortParam.column === th.key) {
            <fa-icon [icon]="sortTable.sortParam.asc ? icons.faArrowDown : icons.faArrowUp" [fixedWidth]="false"></fa-icon>
          }
        </th>
      }
    }
  </tr>
  </thead>
</table>
<app-virtual-scroll (contextmenu)="onContextMenu($event)"
                    [bufferAmount]="5"
                    [items]="guests | searchFilter:inputFilter.search()">
  <table class="app-table">
    <tbody tabindex="-1">
      @for (u of scrollView?.viewPortItems; track u.id) {
        <tr (click)="onSelect(u)"
            (contextmenu)="onTargetContextMenu($event, u)"
            (appTap)="openGuestDialog()"
            [class.disabled]="!u.isActive"
            [class.selected]="u.id === selected?.id">
          @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
            @if (th.value.show) {
              <td [style.width.%]="th.value.width"
                  [class.text-align-center]="th.value.textCenter"
                  class="{{th.value.class}}">
                @switch (th.key) {
                  @case ('login') {
                    <div class="d-flex align-items-center avatar">
                      <img class="avatar-img" [src]="u.avatarUrl" alt="">
                      <div class="d-flex flex-column text-truncate">
                        <span class="no-pointer-events" draggable="false">
                          {{ u.login }}
                        </span>
                        <span class="no-pointer-events text-muted fs-xs" draggable="false">{{ u.email }}</span>
                      </div>
                    </div>
                  }
                  @case ('fullName') {
                    <div class="d-flex flex-column">
                      <span class="no-pointer-events" draggable="false">{{ u.fullName }}</span>
                    </div>
                  }
                  @case ('managers') {
                    <app-user-avatar-stack [users]="u.managers" [isMember]="true" [container]="'body'"></app-user-avatar-stack>
                  }
                  @case ('isActive') {
                    <span class="{{u.isActive ? 'text-success' : 'text-danger'}}" l10nTranslate>
                      @if (!u.isActive && u.passwordAttempts) {
                        too many login attempts
                      } @else {
                        {{ u.userIsActiveText }}
                      }
                  </span>
                  }
                  @case ('createdAt') {
                    {{ u.createdAt | amTimeAgo:true }}
                  }
                  @case ('currentAccess') {
                    @if (u.currentAccess) {
                      <span class="d-flex justify-content-center {{th.value.newly && u[th.value.newly] ? 'badge prop-newly-' + u[th.value.newly] : ''}}"
                           (mouseover)="u.currentAccessHover = true"
                           (focus)="u.currentAccessHover = true"
                           (mouseleave)="u.currentAccessHover = false">
                        @if (u.currentAccessHover) {
                          <span class="d-flex flex-column">
                            <span>{{ u.currentAccess | amDateFormat }}</span>
                            <span>{{ u.lastAccess | amDateFormat }}</span>
                          </span>
                        } @else {
                          <span>{{ u.hTimeAgo }}</span>
                        }
                      </span>
                    } @else {
                      <span class="badge bg-danger" l10nTranslate>never</span>
                    }
                  }
                }
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</app-virtual-scroll>
<!--End Table Files Content-->
<!--Start Foot Content-->
<div class="app-foot-menu">
  <span class="mx-auto">{{ guests.length }} {{ 'guests' | translate:locale.language }}</span>
</div>
<!--End Foot Content-->
<!--Start Context Menu -->
<context-menu #MainContextMenu>
  <ng-template (execute)="openGuestDialog(true)" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faPlus"></fa-icon>New guest</span>
  </ng-template>
  <ng-template [divider]="true" contextMenuItem></ng-template>
  <ng-template (execute)="loadGuests()" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faArrowRotateRight"></fa-icon>Refresh</span>
  </ng-template>
</context-menu>
<context-menu #TargetContextMenu>
  <ng-template (execute)="openGuestDialog()" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faPen"></fa-icon>Edit guest</span>
  </ng-template>
</context-menu>
<!--End Context Menu-->
