<div class="modal-header">
  <h4 class="modal-title">
    <svg [lucideIcon]="icons.LucideTrash2"></svg>
    <span l10nTranslate>Clear events</span>
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white" type="button"></button>
</div>
<div class="modal-body">
  @if (syncPath) {
    <span l10nTranslate>Events from</span>&nbsp;<b>{{syncPath.settings.name}}</b>
  } @else {
    <span l10nTranslate>All events</span>
  }
  <span>&nbsp;</span>
  <span l10nTranslate>will be cleared</span>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary" data-dismiss="modal" type="button" l10nTranslate>Cancel</button>
  <button (click)="doClear()" class="btn btn-danger" type="submit" l10nTranslate>Confirm</button>
</div>

