<div class="modal-header">
  <h4 class="modal-title" translate>
    <svg [lucideIcon]="icons.LucideTrash2"></svg>
    <span l10nTranslate>Client</span>
    @if (submitted) {
      <svg [lucideIcon]="icons.LucideLoader" [class.icon-spin]="true" class="ms-2"></svg>
    }
  </h4>
  <button (click)="layout.closeDialog()" aria-label="Close" class="btn-close btn-close-white" type="button"></button>
</div>
<div class="modal-body">
  <div><b><app-platform-icon [platform]="client.info.os" class="me-2"></app-platform-icon>{{client.info.node}}</b><span class="ms-1" l10nTranslate>will be removed</span></div>
  <div class="small mt-2" translate>The client will no longer have permission to access your account and will no longer be able to synchronize.</div>
</div>
<div class="modal-footer">
  <button (click)="layout.closeDialog()" class="btn btn-secondary" data-dismiss="modal" l10nTranslate type="button">Cancel</button>
  <button (click)="onSubmit()" [disabled]="submitted" class="btn btn-danger" l10nTranslate type="button">Confirm</button>
</div>
