<div class="breadcrumb">
  <div class="breadcrumb-content">
    @for (item of levels; track $index) {
      @if (!$first) {
        <svg
          [class.breadcrumb-mobile-hidden]="$index > 1"
          [lucideIcon]="icons.LucideChevronRight">
        </svg>
      }
      <li
        [class.breadcrumb-mobile-active]="$index === 1"
        [class.breadcrumb-mobile-hidden]="$index > 1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{matrixParams: 'ignored', queryParams: 'ignored', paths: 'exact', fragment: 'ignored'}">
        <a [routerLink]="item.link">
          @if ($first && breadcrumbIcon) {
            <svg [lucideIcon]="breadcrumbIcon"></svg>
          }
          <span>{{ item.title }}</span>
        </a>
      </li>
    }
  </div>
</div>
