<div class="app-auth">
  <div class="auth-card">
    <div class="content">
      <div class="header">
        <img alt="" class="auth-logo img-fluid" [src]="logoUrl">
      </div>
      <div class="body">
        @if (twoFaVerify) {
          <p class="mb-3 {{hasError ? 'text-danger' : 'text-white-50'}}" l10nTranslate>{{ hasError || 'Two-Factor Authentication' }}</p>
          <form (ngSubmit)="onSubmit2Fa()" [formGroup]="twoFaForm">
            <div class="input-group input-group-lg mt-2 mb-4">
              @if (isRecoveryCode) {
                <span class="input-group-text">
                  <fa-icon [icon]="icons.faKey"></fa-icon>
                </span>
                <input appAutofocus
                       [placeholder]="'Recovery code' | translate:locale.language"
                       type="password"
                       class="form-control form-control-lg"
                       formControlName="recoveryCode" />
              } @else {
                <span class="input-group-text">
                  <fa-icon [icon]="icons.faQrcode"></fa-icon>
                </span>
                <input appAutofocus
                       [placeholder]="'Authentication code' | translate:locale.language"
                       type="text"
                       class="form-control form-control-lg"
                       formControlName="totpCode"
                       inputmode="numeric"
                       autocomplete="one-time-code"
                       [maxlength]=twoFaCodelength />
              }
            </div>
            <div class="d-flex text-white-50 fs-sm">
              <div class="form-check form-switch form-check-inline">
                <label class="form-check-label" for="useRecovery">
                  <input class="form-check-input" formControlName="isRecoveryCode" id="useRecovery" type="checkbox">
                  <span l10nTranslate>Use a recovery code</span>
                </label>
              </div>
            </div>
            <div class="auth-actions d-flex flex-column flex-sm-row gap-2 mt-4">
              <button type="button" (click)="onCancel2Fa()" class="btn btn-secondary auth-action-btn" l10nTranslate>Cancel</button>
              <button type="submit"
                      [disabled]="isRecoveryCode ? twoFaForm.controls.recoveryCode.invalid : twoFaForm.controls.totpCode.invalid || submitted"
                      class="btn btn-primary auth-action-btn" l10nTranslate>
                Confirm
              </button>
            </div>
          </form>
        } @else {
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <p class="mb-3 {{hasError ? 'text-danger' : 'text-white-50'}}" l10nTranslate>{{ hasError || 'Sign-in to your account' }}</p>
            <div class="input-group input-group-lg my-2">
              <span class="input-group-text">
                <fa-icon [icon]="icons.faUserAlt"></fa-icon>
              </span>
              <input appAutofocus class="form-control form-control-lg" formControlName="username" [placeholder]="'Login or Email' | translate:locale.language" type="text" />
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">
                <fa-icon [icon]="icons.faLock"></fa-icon>
              </span>
              <input class="form-control form-control-lg" formControlName="password" [placeholder]="'Password' | translate:locale.language" type="password" />
            </div>
            <div class="d-flex">
              <button type="submit" [disabled]="loginForm.invalid || submitted" class="btn btn-lg btn-primary w-100" l10nTranslate>Sign in</button>
            </div>
          </form>
          @if (oidcSettings) {
            <div class="d-flex flex-column">
              <div class="d-flex mt-3">
                <button
                  type="button"
                  class="btn btn-lg btn-primary w-100"
                  (click)="loginWithOIDC()">
                  <span l10nTranslate>{{ oidcSettings.buttonText }}</span>
                </button>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
</div>
