@if (share()) {
  <div appAutoResize class="fs-sm" [resizeOffset]=resizeOffset>
    <div class="card px-1 pt-1">
      <div class="card-body align-self-center p-0 my-1">
        <img [src]="share().mimeUrl" alt="" draggable="false" [style.height.px]="cardImageSize" (error)="share().fallBackMimeUrl()">
      </div>
    </div>
    <hr class="my-1" />
    <div class="p-2">
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Name</div>
        <div class="word-break-all fs-sm">{{ share().name }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Created</div>
        <div class="fs-sm">{{ share().createdAt | amDateFormat }}</div>
      </div>
      <div class="d-flex mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Modified</div>
        <div class="fs-sm">{{ share().modifiedAt | amDateFormat }}</div>
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Members</div>
        @if (share().counts.users || share().counts.groups) {
          <app-badge-members [members]="share().counts"></app-badge-members>
        } @else {
          <span class="badge bg-default" l10nTranslate>no</span>
        }
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Child shares</div>
        @if (share().counts.shares) {
          <span (click)="childShareDialog(share())" class="badge bg-purple cursor-pointer me-1">
            <svg [lucideIcon]="iconShares"></svg>
            {{ share().counts.shares }}
          </span>
        } @else {
          <span class="badge bg-default" l10nTranslate>no</span>
        }
      </div>
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Comments</div>
        <button (click)="goToComments()"
                class="badge {{share().hasComments ? 'bg-success' : 'bg-default'}} cursor-pointer"
                type="button"
                [attr.aria-label]="'Comments' | translate:locale.language">
          <svg [lucideIcon]="LucideMessageSquareMore"></svg>
        </button>
      </div>
    </div>
    <hr class="my-1" />
    <div class="p-2">
      <div class="d-flex align-items-center mb-1">
        <div class="d-flex col-5 col-sm-5 text-bold" l10nTranslate>Shared from</div>
        <app-share-repository [share]="share()" [showIcon]="false"></app-share-repository>
      </div>
    </div>
  </div>
}


