.dropdown-menu {
  min-width: 0 !important;
  @include app-menu-surface-structure($btn-border-radius, $dropdown-padding-y);

  > li > a {
    @include app-menu-item-structure($btn-border-radius, 1px);
  }

  .dropdown-header {
    font-size: $font-size-sm;
  }
}

.dropdown-item {
  cursor: pointer;
  @include app-menu-item-structure($btn-border-radius, 1px);

  > span {
    display: flex;
  }
}

.dropdown-divider {
  @include app-menu-divider-structure($dropdown-divider-margin-y 0, $dropdown-divider-width);
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

// Shares Dialog
button {
  &.dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
