.control-sidebar {
  top: 0;
  right: -$control-sidebar-width;
  width: $control-sidebar-width;
  position: fixed;
  height: 100%;
  margin-top: $navbar-height;
  z-index: $control-sidebar-menu-z-index;
  transform: translate3d(0, 0, 0);
  transition: right $transition-speed $transition-fn;

  //Open state with slide over content effect
  &.control-sidebar-open {
    right: $control-sidebar-menu-width;
  }

  @include media-breakpoint-down(sm) {
    right: -$control-sidebar-small-width;
    width: $control-sidebar-small-width;
  }

  .sidebar-title, .sidebar-component-title {
    @include no-select-utility;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: $sidebar-apps-height;
    font-size: $font-size-base;
    padding: .3rem .6rem;
  }

  .sidebar-component-title {
    > span {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .sidebar-item {
    .sidebar-item-container {
      display: flex;
      cursor: pointer;

      .sidebar-item-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: .2rem .4rem .2rem .4rem;
        border-bottom: .5px solid transparent;
      }
    }
  }
}

//Control Sidebar Menu
.control-sidebar-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: $navbar-height;
  width: $control-sidebar-menu-width;
  height: 100%;
  z-index: $control-sidebar-menu-z-index;

  .sidebar-apps-icons {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    width: $control-sidebar-menu-width;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: $control-sidebar-menu-width;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: $sidebar-apps-height;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        $icon-item-inset: 3px;
        padding: $icon-item-inset;
        cursor: pointer;
        border-radius: calc(#{$border-radius-base} + #{$icon-item-inset});
        background-clip: content-box !important;

        > fa-icon {
          font-size: $font-size-xl;
        }

        .menu-badge {
          position: absolute;
          font-size: $font-size-xs;
          width: 100%;

          .badge {
            @extend .badge-small;
            @extend .badge-color-full;
            position: absolute;
            right: 3px;
            bottom: 1px;
          }
        }
      }
    }
  }
}

.control-sidebar-open {
  @include media-breakpoint-up(lg) {
    .content-wrapper {
      margin-right: $control-sidebar-width + $control-sidebar-menu-width;
    }
  }
}
