.sidebar-collapse {
  .main-header, .content-wrapper {
    margin-left: 0 !important;
  }

  &.theme-dark {
    .content-container {
      border-left: 0.5px solid $sidebar-dark-icons-menu-border-color !important;
    }
  }



  .left-sidebar {
    z-index: $content-z-index;

    .sidebar-apps-menus {
      transform: translate3d(0, 0, 0);
      transition: width $transition-speed $transition-fn;
      border-right: none !important;
      overflow: hidden;
      width: 0;
    }
  }
}

.sidebar-open {
  .left-sidebar {
    .sidebar-apps-menus {
      .menu-title {
        .logo-toggle {
          > .sync-in-favicon.logo-toggle-spin-in {
            animation: logo-toggle-spin-in .45s $transition-fn both;
            transform-origin: 50% 50%;

            &.icon-spin {
              animation: icon-spin 1s infinite linear reverse;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .left-sidebar {
      transition-delay: $transition-speed;
      transition-property: z-index;
      z-index: $content-z-index;
    }
  }
  @include media-breakpoint-down(md) {
    .main-header, .content-wrapper {
      margin-left: 0;
    }
  }
}

@keyframes logo-toggle-spin-in {
  from {
    transform: rotate(220deg);
    opacity: .25;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
