<!-- The user image in the menu -->
<div class="d-flex flex-column">
  <div class="sidebar-component-title">
    <div class="d-flex flex-fill justify-content-between">
      @if (!user?.isLink) {
        <button class="btn btn-default" (click)="collapseRSideBar()" type="button" [routerLink]=USER_PATH.BASE>
          <fa-icon [icon]="icons.faUserAlt"></fa-icon>
        </button>
      }
      <button class="btn btn-default" (click)="toggleTheme()" type="button">
        <fa-icon [icon]="icons.faCircleHalfStroke"></fa-icon>
      </button>
      @if (user?.isAdmin) {
        <button class="btn btn-default" (click)="collapseRSideBar()" type="button" routerLink="/admin">
          <fa-icon [icon]="icons.faCog"></fa-icon>
        </button>
      }
      @if (!store.isElectronApp() || store.isElectronApp() && store.userImpersonate()) {
        <button (click)="logOut()" class="btn btn-default" type="button">
          <fa-icon [icon]="store.userImpersonate() ? icons.faUserSecret : icons.faPowerOff"></fa-icon>
        </button>
      }
    </div>
  </div>
  <div appAutoResize [useMaxHeight]="false" class="d-flex flex-column">
    <div class="user-header py-3 px-3">
      <div class="d-flex flex-column justify-content-center me-2">
        <div class="avatar-lg">
          <img class="avatar-img" [src]="userAvatar" alt="">
          <span class="avatar-{{allOnlineStatus[user?.onlineStatus]}}"></span>
        </div>
      </div>
      <div class="user-details">
        @if (user?.isLink) {
          <div l10nTranslate>Guest Link</div>
        } @else {
          <div>{{ user?.fullName }}</div>
          <div class="fs-xs mt-1">{{ user?.email }}</div>
        }
        <select [ngModel]="user?.onlineStatus"
                (ngModelChange)="setOnlineStatus($event)"
                class="form-select form-select-sm mt-2">
          @for (s of allOnlineStatus; track $index) {
            <option [ngValue]="allOnlineStatus.indexOf(s)">{{ s | translate:locale.language | capitalize }}</option>
          }
        </select>
      </div>
    </div>
    <hr class="my-0 w-100" />
    <div class="mt-auto">
      <hr class="my-0 w-100" />
      <div class="profile-sync-in-footer">
        <div class="mb-1">
          <img alt="" height="30" [src]="this.layout.switchTheme.getValue() === themeLight ? logoUrl: logoDarkUrl">
        </div>
        <div class="d-flex">
          <a class="text-primary cursor-pointer" (click)="openLink('website')" l10nTranslate>Website</a>
          <span>&nbsp;|&nbsp;</span>
          <a class="text-primary cursor-pointer" (click)="openLink('versions')" l10nTranslate>Versions</a>
          <span>&nbsp;|&nbsp;</span>
          <a class="text-primary cursor-pointer" (click)="tryRedesignedUI()" l10nTranslate>Try redesigned UI</a>
          <span>&nbsp;|&nbsp;</span>
          <a class="cursor-pointer" (click)="openLink('support')"> 💛</a>
          <fa-icon class="ms-auto fs-xs cursor-pointer"
                   (click)="layout.setAutoCollapseRSideBarPreference(!layout.collapseRSideBarPreference())"
                   [title]="(layout.collapseRSideBarPreference() ? 'Sidebar auto-hide enabled' : 'Sidebar pinned') | translate:locale.language"
                   [icon]="layout.collapseRSideBarPreference() ? icons.faThumbTackSlash : icons.faThumbTack">
          </fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
