<!--Start Top Menu-->
<div class="app-top-menu">
  <button (click)="loadUsersOrGuests()"
          class="d-none d-sm-block btn btn-default me-1"
          [tooltip]="'Refresh' | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faRotate" [animation]="loading ? 'spin' : null"></fa-icon>
  </button>
  <button (click)="openDialog(true)"
          class="btn btn-default me-1"
          [tooltip]="(guestsView ? 'New guest' : 'New user') | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faUserPlus"></fa-icon>
  </button>
  <button (click)="openDialog()"
          [disabled]="!selected"
          class="btn btn-default me-1"
          [tooltip]="(guestsView ? 'Edit guest' : 'Edit user') | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faUserPen"></fa-icon>
  </button>
  <button (click)="impersonateIdentity()"
          [disabled]="!selected"
          class="d-none d-sm-block btn btn-default me-1"
          [tooltip]="'Impersonate identity' | translate:locale.language"
          type="button">
    <fa-icon [icon]="icons.faUserSecret"></fa-icon>
  </button>
  <div class="ms-auto">
    <!--Start Filter Button-->
    <button btnCheckbox
            [ngModel]="guestsView"
            (ngModelChange)="onGuestsView($event)"
            type="button"
            class="btn btn-custom me-1">
      <div class="d-flex align-items-center">
        <fa-icon [icon]="guestsView ? icons.faToggleOn : icons.faToggleOff" class="me-2"></fa-icon>
        <span l10nTranslate>Guests</span>
      </div>
    </button>
    <div class="btn-group">
      <app-input-filter class="d-none d-sm-block"></app-input-filter>
    </div>
    <!--End Filter Button-->
  </div>
</div>
<!--End Top Menu-->
<!--Start Table Files Content-->
<table class="app-table">
  <thead>
  <tr>
    @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
      @if (th.value.show) {
        <th (click)="sortBy(th.key)"
            [style.width.%]="th.value.width"
            [class.text-align-center]="th.value.textCenter"
            [class.cursor-pointer]="th.value.sortable"
            class="{{th.value.class}}"
            l10nTranslate>
          {{ th.value.label }}
          @if (sortTable.sortParam.column === th.key) {
            <fa-icon [icon]="sortTable.sortParam.asc ? icons.faArrowDown : icons.faArrowUp" [fixedWidth]="false"></fa-icon>
          }
        </th>
      }
    }
  </tr>
  </thead>
</table>
<app-virtual-scroll (contextmenu)="onContextMenu($event)"
                    [bufferAmount]="5"
                    [items]="users | searchFilter:inputFilter.search()">
  <table class="app-table">
    <tbody tabindex="-1">
      @for (u of scrollView?.viewPortItems; track u.id) {
        <tr (click)="onSelect(u)"
            (contextmenu)="onTargetContextMenu($event, u)"
            (appTap)="openDialog()"
            [class.disabled]="!u.isActive"
            [class.selected]="u.id === selected?.id">
          @for (th of tableHeaders | keyvalue: originalOrderKeyValue; track th.key) {
            @if (th.value.show) {
              <td [style.width.%]="th.value.width"
                  [class.text-align-center]="th.value.textCenter"
                  class="{{th.value.class}}">
                @switch (th.key) {
                  @case ('login') {
                    <div class="d-flex align-items-center avatar">
                      <img class="avatar-img" [src]="u.avatarUrl" alt="">
                      <div class="d-flex flex-column text-truncate">
                        <span class="no-pointer-events" draggable="false">
                          {{ u.login }}
                          @if (u.isAdmin) {
                            <fa-icon class="m-0" [icon]="icons.faKey"></fa-icon>
                          }
                        </span>
                        <span class="no-pointer-events text-muted fs-xs" draggable="false">{{ u.email }}</span>
                      </div>
                    </div>
                  }
                  @case ('fullName') {
                    <div class="d-flex flex-column">
                      <span class="no-pointer-events" draggable="false">{{ u.fullName }}</span>
                      @if (u.isAdmin) {
                        <span class="no-pointer-events text-muted" draggable="false" l10nTranslate>{{ u.userRoleText }}</span>
                      }
                    </div>
                  }
                  @case ('managers') {
                    <app-user-avatar-stack [users]="u.managers" [isMember]="true"></app-user-avatar-stack>
                  }
                  @case ('storage') {
                    @if (u.storageUsage || u.storageQuota) {
                      <app-storage-usage [item]="u"></app-storage-usage>
                    }
                  }
                  @case ('currentIp') {
                    <div class="d-flex flex-column">
                      <div>{{ u.currentIp }}</div>
                      <div>{{ u.lastIp }}</div>
                    </div>
                  }
                  @case ('isActive') {
                    <span class="{{u.isActive ? 'text-success' : 'text-danger'}}" l10nTranslate>
                      @if (!u.isActive && u.passwordAttempts) {
                        too many login attempts
                      } @else {
                        {{ u.userIsActiveText }}
                      }
                  </span>
                  }
                  @case ('currentAccess') {
                    @if (u.currentAccess) {
                      <span class="d-flex justify-content-center {{th.value.newly && u[th.value.newly] ? 'badge prop-newly-' + u[th.value.newly] : ''}}"
                           (mouseover)="u.currentAccessHover = true"
                           (focus)="u.currentAccessHover = true"
                           (mouseleave)="u.currentAccessHover = false">
                        @if (u.currentAccessHover) {
                          <span class="d-flex flex-column fs-xs">
                            <span>{{ u.currentAccess | amDateFormat }}</span>
                            <span>{{ u.lastAccess | amDateFormat }}</span>
                          </span>
                        } @else {
                          <span>{{ u.hTimeAgo }}</span>
                        }
                      </span>
                    } @else {
                      <span class="{{th.value.newly && u[th.value.newly] ? 'badge prop-newly-' + u[th.value.newly] : ''}}" l10nTranslate>never</span>
                    }
                  }
                }
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</app-virtual-scroll>
<!--End Table Files Content-->
<!--Start Foot Content-->
<div class="app-foot-menu">
  <div>{{ users.length }} {{ (guestsView ? 'guests' : 'users') | translate:locale.language }}</div>
  <div class="ms-auto"><span l10nTranslate>Total</span>&nbsp;{{ storageUsage | toBytes }}</div>
</div>
<!--End Foot Content-->
<!--Start Context Menu -->
<context-menu #MainContextMenu>
  <ng-template (execute)="openDialog(true)" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faUserPlus"></fa-icon>New {{ guestsView ? 'guest' : 'user' }}</span>
  </ng-template>
  <ng-template [divider]="true" contextMenuItem></ng-template>
  <ng-template (execute)="loadUsersOrGuests()" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faArrowRotateRight"></fa-icon>Refresh</span>
  </ng-template>
</context-menu>
<context-menu #TargetContextMenu>
  <ng-template (execute)="openDialog()" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faUserPen"></fa-icon>Edit {{ guestsView ? 'guest' : 'user' }}</span>
  </ng-template>
  <ng-template [divider]="true" contextMenuItem></ng-template>
  <ng-template (execute)="impersonateIdentity()" contextMenuItem>
    <span l10nTranslate><fa-icon [icon]="icons.faUserSecret"></fa-icon>Impersonate identity</span>
  </ng-template>
</context-menu>
<!--End Context Menu-->
